/*
created by kasunrachintha on 9/5/22
@author : kasunrachintha
@Date :  9/5/22
@Time: 5:24 pm
@Project : My-Portfolio 
*/

/*scroll settings*/
::-webkit-scrollbar {
    width: 10px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: #0022ff;
}

/*Header Section*/
ul:nth-child(1) {
    margin-top: 0px;
}

/*add ul for home button in header*/
ul:nth-child(1) > li {
    top: 11px;
    left: 580px;
    position: relative;
    list-style: none;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 16px 25px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

/*add hover to change size home ul*/
ul li:hover {
    width: 180px;
    box-shadow: 0 16px 25px rgba(0, 0, 0, 0);
}

/*add color to before li*/
ul li::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--i), var(--j));
    opacity: 0;
    transition: 0.5s;
}

ul li:hover::before {
    opacity: 1;
}

/*add color to after li*/
ul li::after {
    content: '';
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--i), var(--j));
    transition: 0.5s;
    filter: blur(15px);
    z-index: -1;
    opacity: 0;
}

ul li:hover::after {
    opacity: 0.5;
}

ul li ion-icon {
    color: #777;
    font-size: 1.75em;
    transition: 0.5s;
    transition-delay: 0.25s;
}

ul li:hover ion-icon {
    transform: scale(0);
    color: #fff;
    transition-delay: 0s;
}

ul li span {
    position: absolute;
}

ul li span:nth-child(2) > a, u {
    text-decoration: none;
    color: white;
}

ul li .title {
    color: #fff;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
}

ul li:hover .title {
    transform: scale(1);
    transition-delay: 0.25s;

}


/*add header*/
body > header {
    /*border: 1px solid red;*/
    background-color: #231955;
    width: 99.3vw;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 10;
}

/*-------------------------------------------------------------------------------*/

/*add div for go top up in page*/
body > div:nth-child(3) {
    position: fixed;
    width: 40px;
    height: 40px;
    right: 5px;

    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    top: 640px;
    z-index: 5;
}

body > div:nth-child(3):hover {
    width: 50px;
    height: 50px;
}

/*add image into go top*/
body > div:nth-child(3) > a > img {
    width: 30px;
    height: 30px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 60px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

/*-------------------------------------------------------------------------------*/

/*!*add Headline My Assessments*!*/
body > div:nth-child(2) {
    position: absolute;
    font-size: 20px;
    display: inline-block;
    left: 0;
    top: 90px;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

/*!*add font to My Assessments*!*/
body > div:nth-child(2) > div > h2 {
    font-family: 'Poppins', sans-serif;
    position: relative;

}


/*add colors to My Assessments */
#span1 {
    color: #000000;
}

#span2 {
    color: #8E44AD;
}

/*-------------------------------------------------------------------------------*/
/*MainSection*/
main > section {
    position: relative;
    top: 100px;
    width: 99vw;
    height: 100vh;
    border: 1px solid red;
}

/*-------------------------------------------------------------------------------*/
/*CSS BASICS*/
/*main section css basics p tag*/
main > section:nth-child(1) > p:nth-child(1) {
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    display: inline-block;
    left: 660px;
    color: #C90000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*main article section css basics */
main > section:nth-child(1) > article:nth-child(2) {
    position: relative;
    top: -6px;
    display: grid;
    /*border: 1px solid green;*/
    height: 89%;

    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);

}

/*add divs for css basics images and names*/
main > section:nth-child(1) > article:nth-child(2) > div {
    /*border: 1px solid blue;*/
    width: 90%;
    height: 90%;

    position: relative;
    left: 20px;
    top: 15px;
}

/*assessments1 h4 tag*/
main > section:nth-child(1) > article:nth-child(2) > div > h4:nth-child(1) {
    display: inline-block;
    top: 10px;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    width: 150px;
    height: 0px;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*assessments image*/
main > section:nth-child(1) > article:nth-child(2) > div > img:nth-child(2) {
    width: 215px;
    height: 175px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    position: relative;
    top: 38px;
    left: 100px;
}

/*add hover for images*/
main > section:nth-child(1) > article:nth-child(2) > div > img:nth-child(2):hover {
    width: 220px;
    height: 180px;
}

/*assessments view div*/
main > section:nth-child(1) > article:nth-child(2) > div > div:nth-child(3) {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    position: relative;
    left: 190px;
    top: 47px;
    cursor: pointer;
}

/*assessments view div eye image*/
main > section:nth-child(1) > article:nth-child(2) > div > div:nth-child(3) > a > img {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}



