/*
created by kasunrachintha on 8/31/22
@author : kasunrachintha
@Date :  8/31/22
@Time: 8:13 am
@Project : My-Portfolio 
*/

/*scroll settings*/
::-webkit-scrollbar {
    width: 10px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: #0022ff;
}

/*add header*/
body > header {
    /*border: 1px solid red;*/
    background-color: #231955;
    width: 1430px;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 10;
}

/*Header Section*/
ul:nth-child(1) {
    margin-top: 0px;
}

/*add ul for home button in header*/
ul:nth-child(1) > li {
    top: 11px;
    left: 580px;
    position: relative;
    list-style: none;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 16px 25px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

/*add hover to change size home ul*/
ul li:hover {
    width: 180px;
    box-shadow: 0 16px 25px rgba(0, 0, 0, 0);
}

/*add color to before li*/
ul li::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--i), var(--j));
    opacity: 0;
    transition: 0.5s;
}

ul li:hover::before {
    opacity: 1;
}

/*add color to after li*/
ul li::after {
    content: '';
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--i), var(--j));
    transition: 0.5s;
    filter: blur(15px);
    z-index: -1;
    opacity: 0;
}

ul li:hover::after {
    opacity: 0.5;
}

ul li ion-icon {
    color: #777;
    font-size: 1.75em;
    transition: 0.5s;
    transition-delay: 0.25s;
}

ul li:hover ion-icon {
    transform: scale(0);
    color: #fff;
    transition-delay: 0s;
}

ul li span {
    position: absolute;
}

ul li span:nth-child(2) > a, u {
    text-decoration: none;
    color: white;
}

ul li .title {
    color: #fff;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
}

ul li:hover .title {
    transform: scale(1);
    transition-delay: 0.25s;

}

/*-------------------------------------------------------------------------------*/
/*add div for go top up in page*/
body > div:nth-child(3) {
    position: fixed;
    width: 40px;
    height: 40px;
    right: 5px;

    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    top: 640px;
    z-index: 5;
}

body > div:nth-child(3):hover {
    width: 50px;
    height: 50px;
}

/*add image into go top*/
body > div:nth-child(3) > a > img {
    width: 30px;
    height: 30px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 60px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}


/*-------------------------------------------------------------------------------*/

/*my project gif*/
body > div:nth-child(2) > img:nth-child(1) {
    width: 50px;
    height: auto;
    position: relative;
    left: 565px;
    top: 33px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 32px;
}

/*!*add Headline Project*!*/
body > div:nth-child(2) > div:nth-child(2) {
    position: absolute;
    font-size: 20px;
    display: inline-block;
    text-align: center;

    top: 90px;
    left: 0;
    right: 0;
    margin: auto;
}

/*!*add font to Project*!*/
body > div:nth-child(2) > div:nth-child(2) > h2 {
    font-family: 'Poppins', sans-serif;
}


/*introduction under Headline*/
body > div:nth-child(2) > div:nth-child(3) {
    position: absolute;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    top: 127px;
    left: 10px;
    right: 0;
    margin: auto;
}

/*add colors to Project */
#span1 {
    color: #000000;
}

#span2 {
    color: #8E44AD;
}

/*-----------------------------------------------------------------------------------------------------*/
/*Main Section*/
/*add flex for all section*/
main > section {
    /*border: 1px solid green;*/
    /*display: flex;*/
    /*width: 1430px;*/
    /*height: 770px;*/
    /*top: 75px;*/
    /*position: relative;*/

    /*border: 1px solid green;*/
    display: grid;
    width: 1430px;
    /*height: 2300px;*/
    top: 75px;
    position: relative;

    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

/*add border to separate  with border in article*/
main > section > article {
    /*border: 1px solid deeppink;*/
    width: 714px;
    height: 760px;
}

/*add vehicle park text*/
main > section:nth-child(1) > article:nth-child(1) > p:nth-child(1) {
    color: #001AFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    display: inline-block;
    width: 250px;
    text-align: center;
    position: relative;
    left: 160px;
    top: -10px;
}

/*add Vehicle Parking  System image*/
main > section:nth-child(1) > article:nth-child(1) > img:nth-child(2) {
    position: relative;
    width: 500px;
    height: 280px;
    left: 30px;
    top: -16px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*add hover for Vehicle Parking  System image*/
main > section:nth-child(1) > article:nth-child(1) > img:nth-child(2):hover {
    width: 506px;
    height: 286px;
}

/*add view button in vehicle park system*/
main > section:nth-child(1) > article:nth-child(1) > button:nth-child(3) {
    position: relative;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    right: 290px;
    top: 18px;
    width: 90px;
    height: 32px;
}

/*add hover view button in vehicle park system*/
main > section:nth-child(1) > article:nth-child(1) > button:nth-child(3):hover {
    width: 93px;
    height: 35px;
}

/*remove and add a tag underline*/
main > section:nth-child(1) > article:nth-child(1) > button:nth-child(3) > a, u {
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    top: -2px;
    left: -4px;
}

/*add eye image into button*/
main > section:nth-child(1) > article:nth-child(1) > button:nth-child(3) > a > img {
    width: 20px;
    height: auto;
    position: relative;
    left: 5px;
    top: 6px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*point image vehicle park system*/
main > section:nth-child(1) > article:nth-child(1) > pre:nth-child(4) > img {
    position: relative;
    left: -165px;
    top: 19px;

    width: 12px;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*description vehicle park system*/
main > section:nth-child(1) > article:nth-child(1) > pre:nth-child(4) {
    font-style: normal;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    display: inline-block;
    position: relative;
    text-align: center;
    left: 5px;

    top: 10px;
}

/*Pet & Product Management System*/
/*add Pet & Product Management System text*/
main > section:nth-child(1) > article:nth-child(2) > p:nth-child(1) {
    color: #001AFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    display: inline-block;
    width: 370px;
    text-align: center;
    position: relative;
    left: 160px;
    top: -10px;
}

/*add Pet & Product Management image*/
main > section:nth-child(1) > article:nth-child(2) > img:nth-child(2) {
    width: 532px;
    height: 324px;
    position: relative;
    left: 80px;
    top: -16px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*add hover for Pet & Product Management image*/
main > section:nth-child(1) > article:nth-child(2) > img:nth-child(2):hover {
    width: 538px;
    height: 330px;
}

/*add view button in Pet & Product Management system*/
main > section:nth-child(1) > article:nth-child(2) > button:nth-child(3) {
    position: relative;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    right: 240px;
    top: 18px;
    width: 90px;
    height: 32px;
}

/*add hover view button in Pet & Product Management system*/
main > section:nth-child(1) > article:nth-child(2) > button:nth-child(3):hover {
    width: 93px;
    height: 35px;

}

/*remove and add a tag underline*/
main > section:nth-child(1) > article:nth-child(2) > button:nth-child(3) > a, u {
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    top: -2px;
    left: -4px;
}

/*add eye image into button*/
main > section:nth-child(1) > article:nth-child(2) > button:nth-child(3) > a > img {
    width: 20px;
    height: auto;
    position: relative;
    left: 5px;
    top: 6px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*!*point image vehicle park system*!*/
main > section:nth-child(1) > article:nth-child(2) > pre:nth-child(4) > img {
    position: relative;
    left: -153px;
    top: 19px;

    width: 12px;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*description Pet & Product Management System*/
main > section:nth-child(1) > article:nth-child(2) > pre:nth-child(4) {
    font-style: normal;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    display: inline-block;
    position: relative;
    text-align: center;

    left: 115px;
    top: 5px;
}


/*------------------------------------------------------------------------------------------------*/
/*SuperMarket Manage System and Hostel Management System section*/

/*add SuperMarket Manage System text*/
main > section:nth-child(1) > article:nth-child(3) > p:nth-child(1) {
    color: #001AFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    display: inline-block;
    width: 370px;
    text-align: center;
    position: relative;
    left: 160px;
    top: -10px;
}

/*add SuperMarket Manage System image*/
main > section:nth-child(1) > article:nth-child(3) > img:nth-child(2) {
    width: 471px;
    height: 400px;
    position: relative;
    left: 80px;
    top: -16px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*add hover for SuperMarket Manage System image*/
main > section:nth-child(1) > article:nth-child(3) > img:nth-child(2):hover {
    width: 477px;
    height: 406px;
}

/*add view button in SuperMarket Manage System */
main > section:nth-child(1) > article:nth-child(3) > button:nth-child(3) {
    position: relative;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    right: 210px;
    top: 18px;
    width: 90px;
    height: 30px;
}

/*add hover view button in  SuperMarket Manage System */
main > section:nth-child(1) > article:nth-child(3) > button:nth-child(3):hover {
    width: 93px;
    height: 35px;

}

/*remove and add a tag underline*/
main > section:nth-child(1) > article:nth-child(3) > button:nth-child(3) > a, u {
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    top: -2px;
    left: -4px;
}

/*add eye image into button*/
main > section:nth-child(1) > article:nth-child(3) > button:nth-child(3) > a > img {
    width: 20px;
    height: auto;
    position: relative;
    left: 5px;
    top: 6px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*point image vehicle park system*/
main > section:nth-child(1) > article:nth-child(3) > pre:nth-child(4) > img {
    position: relative;
    left: -162px;
    top: 19px;

    width: 12px;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*description SuperMarket Manage System*/
main > section:nth-child(1) > article:nth-child(3) > pre:nth-child(4) {
    font-style: normal;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    display: inline-block;
    position: relative;
    text-align: center;

    left: 75px;
    top: 5px;
}

/*Hostel Management System*/
/*add Hostel Management System text*/
main > section:nth-child(1) > article:nth-child(4) > p:nth-child(1) {
    color: #001AFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    display: inline-block;
    width: 370px;
    text-align: center;
    position: relative;
    left: 160px;
    top: -10px;
}

/*add Hostel Management System image*/
main > section:nth-child(1) > article:nth-child(4) > img:nth-child(2) {
    width: 571px;
    height: 366px;
    position: relative;
    left: 80px;
    top: -16px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*add hover for Hostel Management System image*/
main > section:nth-child(1) > article:nth-child(4) > img:nth-child(2):hover {
    width: 577px;
    height: 372px;
}

/*add view button in Hostel Management System */
main > section:nth-child(1) > article:nth-child(4) > button:nth-child(3) {
    position: relative;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    right: 240px;
    top: 18px;
    width: 90px;
    height: 30px;
}

/*add hover view button in  Hostel Management System*/
main > section:nth-child(1) > article:nth-child(4) > button:nth-child(3):hover {
    width: 93px;
    height: 35px;

}

/*!*remove and add a tag underline*!*/
main > section:nth-child(1) > article:nth-child(4) > button:nth-child(3) > a, u {
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    top: -2px;
    left: -4px;
}

/*add eye image into button*/
main > section:nth-child(1) > article:nth-child(4) > button:nth-child(3) > a > img {
    width: 20px;
    height: auto;
    position: relative;
    left: 5px;
    top: 6px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*point image Hostel Management System*/
main > section:nth-child(1) > article:nth-child(4) > pre:nth-child(4) > img {
    position: relative;
    left: -142px;
    top: 19px;

    width: 12px;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*description Hostel Management System*/
main > section:nth-child(1) > article:nth-child(4) > pre:nth-child(4) {
    font-style: normal;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    display: inline-block;
    position: relative;
    text-align: center;

    left: 145px;
    top: 5px;
}


/*--------------------------------------------------------------------------------------*/

/*Live Chat Application section*/

/*add live chat text*/
main > section:nth-child(1) > article:nth-child(5) > p:nth-child(1) {
    color: #001AFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    display: inline-block;
    width: 370px;
    text-align: center;
    position: relative;
    left: 160px;
    top: -10px;
}

/*add Live Chat System image*/
main > section:nth-child(1) > article:nth-child(5) > img:nth-child(2) {
    width: 604px;
    height: 434px;
    position: relative;
    left: 80px;
    top: -16px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


/*add hover for Live Chat System image*/
main > section:nth-child(1) > article:nth-child(5) > img:nth-child(2):hover {
    width: 610px;
    height: 440px;
}

/*add view button in Live Chat System */
main > section:nth-child(1) > article:nth-child(5) > button:nth-child(3) {
    position: relative;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    right: 270px;
    top: 18px;
    width: 90px;
    height: 30px;
}

/*add hover view button in  Live Chat System*/
main > section:nth-child(1) > article:nth-child(5) > button:nth-child(3):hover {
    width: 93px;
    height: 35px;

}

/*!*!*remove and add a tag underline*!*!*/
main > section:nth-child(1) > article:nth-child(5) > button:nth-child(3) > a, u {
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    top: -2px;
    left: -4px;
}

/*!*add eye image into button*!*/
main > section:nth-child(1) > article:nth-child(5) > button:nth-child(3) > a > img {
    width: 20px;
    height: auto;
    position: relative;
    left: 5px;
    top: 6px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*point image Hostel Management System*/
main > section:nth-child(1) > article:nth-child(5) > pre:nth-child(4) > img {
    position: relative;
    left: -160px;
    top: 19px;

    width: 12px;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*!*description Live Chat System*!*/
main > section:nth-child(1) > article:nth-child(5) > pre:nth-child(4) {
    font-style: normal;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    display: inline-block;
    position: relative;
    text-align: center;

    left: 145px;
    top: 5px;
}

/*--------------------------------------------------------------------------------------*/

/*footer Section*/
/*add colors and height into footer*/
body > footer {
    height: 70px;
    width: 99.3vw;
    background-color: #231955;
}

/*add styles for button*/
body > footer > button {
    background: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;
    left: 690px;
    top: 16px;
    margin: auto;

    width: 103px;
    height: 35px;
}

body > footer > button:hover {
    width: 106px;
    height: 38px;
    transform: translateY(2px);
    bottom: 18px;
}


/*add image into ome button*/
body > footer > button > a > img {
    transform: rotate(-180deg);
    position: relative;
    left: -8px;
    width: 22px;
    height: auto;
    top: 4px;
    padding: 0;
}

/*remove underline and add styles into home button a tag*/
body > footer > button > a, u {
    text-decoration: none;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    position: relative;
    right: -4px;
    top: -2px;

}

/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*Responsive 320px*/
/*Mobile Small 320px*/
@media all and (max-width: 320px) {

    /*add header*/
    body > header {
        /*border: 1px solid red;*/
        background-color: #231955;
        width: 310px;
        height: 40px;
        position: sticky;
        top: 0;
        z-index: 10;
    }

    /*add ul for home button in header*/
    ul:nth-child(1) > li {
        top: 5px;
        left: 100px;
        position: relative;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ul li ion-icon {
        font-size: 1.2500em;
    }

    ul li .title {
        font-size: 0.313em;
        letter-spacing: 0.1em;
        transform: scale(0);
        transition: 0.5s;
        transition-delay: 0s;
    }

    /*-------------------------------------------------------------------------------*/
    /*add div for go top up in page*/
    body > div:nth-child(3) {
        position: fixed;
        width: 30px;
        height: 30px;
        left: 275px;
        border-radius: 60px;
        top: 160px;
        z-index: 5;
    }

    body > div:nth-child(3):hover {
        width: 32px;
        height: 32px;
    }

    /*add image into go top*/
    body > div:nth-child(3) > a > img {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    /*-------------------------------------------------------------------------------*/
    /*my project gif*/
    body > div:nth-child(2) > img:nth-child(1) {
        width: 20px;
        height: 20px;
        position: relative;
        left: 65px;
        top: 31px;
        border-radius: 20px;
    }

    /*!*add Headline Project*!*/
    body > div:nth-child(2) > div:nth-child(2) {
        position: absolute;
        font-size: 14px;
        display: inline-block;
        text-align: center;
        top: 50px;
        left: 0;
        right: 0;
        margin: auto;
    }

    /*introduction under Headline*/
    body > div:nth-child(2) > div:nth-child(3) {
        position: absolute;
        font-size: 10px;
        display: inline-block;
        text-align: center;
        top: 76px;
        left: 5px;
        right: 0;
        margin: auto;
    }

    /*-----------------------------------------------------------------------------------------------------*/
    /*add height for vehicle park and pet product section*/
    /*Main Section*/
    main > section:nth-child(1) {
        /*border: 1px solid green;*/
        display: grid;
        width: 310px;
        /*height: 2200px;*/
        top: 60px;
        position: relative;

        grid-template-rows: repeat(6, 1fr);
        grid-template-columns:repeat(1, 1fr) ;
    }

    /*add border to separate  with border in article*/
    main > section > article {
        /*border: 1px solid deeppink;*/
        width: 310px;
        height: 385px;
    }

    /*add vehicle park text*/
    main > section:nth-child(1) > article:nth-child(1) > p:nth-child(1) {
        font-size: 16px;
        display: inline-block;
        width: 250px;
        text-align: center;
        position: relative;
        left: 40px;
        top: -10px;
    }

    /*add Vehicle Parking  System image*/
    main > section:nth-child(1) > article:nth-child(1) > img:nth-child(2) {
        position: relative;
        width: 205px;
        height: 113px;
        left: 60px;
        top: -16px;
    }

    /*add hover for Vehicle Parking  System image*/
    main > section:nth-child(1) > article:nth-child(1) > img:nth-child(2):hover {
        width: 206px;
        height: 114px;
    }

    /*add view button in vehicle park system*/
    main > section:nth-child(1) > article:nth-child(1) > button:nth-child(3) {
        position: relative;
        right: 80px;
        top: 15px;
        width: 60px;
        height: 23px;
    }

    /*add hover view button in vehicle park system*/
    main > section:nth-child(1) > article:nth-child(1) > button:nth-child(3):hover {
        width: 61px;
        height: 24px;
    }

    /*remove and add a tag underline*/
    main > section:nth-child(1) > article:nth-child(1) > button:nth-child(3) > a, u {
        font-size: 10px;
        position: relative;
        top: -2px;
        left: -4px;
    }

    /*add eye image into button*/
    main > section:nth-child(1) > article:nth-child(1) > button:nth-child(3) > a > img {
        width: 10px;
        height: 10px;
        position: relative;
        left: 5px;
        top: 2px;
    }

    /*point image vehicle park system*/
    main > section:nth-child(1) > article:nth-child(1) > pre:nth-child(4) > img {
        position: relative;
        left: -98px;
        top: 14px;

        width: 12px;
        height: auto;
    }

    /*description vehicle park system*/
    main > section:nth-child(1) > article:nth-child(1) > pre:nth-child(4) {
        font-size: 10px;
        display: inline-block;
        position: relative;
        text-align: center;
        left: 5px;
        top: 10px;
    }

    /*Pet & Product Management System*/
    /*add Pet & Product Management System text*/
    main > section:nth-child(1) > article:nth-child(2) > p:nth-child(1) {
        font-size: 16px;
        display: inline-block;
        width: 280px;
        text-align: center;
        position: relative;
        left: 20px;
        top: -10px;
    }

    /*add Pet & Product Management image*/
    main > section:nth-child(1) > article:nth-child(2) > img:nth-child(2) {
        width: 207px;
        height: 135px;
        position: relative;
        left: 50px;
        top: -16px;
    }

    /*add hover for Pet & Product Management image*/
    main > section:nth-child(1) > article:nth-child(2) > img:nth-child(2):hover {
        width: 208px;
        height: 136px;
    }

    /*add view button in Pet & Product Management system*/
    main > section:nth-child(1) > article:nth-child(2) > button:nth-child(3) {
        position: relative;
        right: 80px;
        top: 15px;
        width: 60px;
        height: 23px;
    }

    /*add hover view button in Pet & Product Management system*/
    main > section:nth-child(1) > article:nth-child(2) > button:nth-child(3):hover {
        width: 61px;
        height: 24px;
    }

    /*remove and add a tag underline*/
    main > section:nth-child(1) > article:nth-child(2) > button:nth-child(3) > a, u {
        font-size: 10px;
        position: relative;
        top: -2px;
        left: -4px;
    }

    /*add eye image into button*/
    main > section:nth-child(1) > article:nth-child(2) > button:nth-child(3) > a > img {
        width: 10px;
        height: 10px;
        position: relative;
        left: 5px;
        top: 2px;
    }

    /*!*point image vehicle park system*!*/
    main > section:nth-child(1) > article:nth-child(2) > pre:nth-child(4) > img {
        position: relative;
        left: -98px;
        top: 14px;

        width: 12px;
        height: auto;
    }

    /*description Pet & Product Management System*/
    main > section:nth-child(1) > article:nth-child(2) > pre:nth-child(4) {
        font-size: 10px;
        display: inline-block;
        position: relative;
        text-align: center;
        left: 25px;
        top: 10px;
    }

    /*------------------------------------------------------------------------------------------------*/
    /*SuperMarket Manage System and Hostel Management System section*/
    /*add SuperMarket Manage System text*/
    main > section:nth-child(1) > article:nth-child(3) > p:nth-child(1) {
        font-size: 16px;
        display: inline-block;
        width: 280px;
        text-align: center;
        position: relative;
        left: 20px;
        top: -15px;
    }

    /*add SuperMarket Manage System image*/
    main > section:nth-child(1) > article:nth-child(3) > img:nth-child(2) {
        width: 203px;
        height: 181px;
        position: relative;
        left: 54px;
        top: -22px;

    }

    /*add hover for SuperMarket Manage System image*/
    main > section:nth-child(1) > article:nth-child(3) > img:nth-child(2):hover {
        width: 204px;
        height: 182px;
    }

    /*add view button in SuperMarket Manage System */
    main > section:nth-child(1) > article:nth-child(3) > button:nth-child(3) {
        position: relative;
        right: 80px;
        top: 2px;
        width: 60px;
        height: 23px;
    }

    /*add hover view button in  SuperMarket Manage System */
    main > section:nth-child(1) > article:nth-child(3) > button:nth-child(3):hover {
        width: 61px;
        height: 24px;
    }

    /*remove and add a tag underline*/
    main > section:nth-child(1) > article:nth-child(3) > button:nth-child(3) > a, u {
        font-size: 10px;
        position: relative;
        top: -2px;
        left: -4px;
    }

    /*add eye image into button*/
    main > section:nth-child(1) > article:nth-child(3) > button:nth-child(3) > a > img {
        width: 10px;
        height: 10px;
        position: relative;
        left: 5px;
        top: 2px;
    }

    /*point image vehicle park system*/
    main > section:nth-child(1) > article:nth-child(3) > pre:nth-child(4) > img {
        position: relative;
        left: -98px;
        top: 14px;

        width: 12px;
        height: auto;
    }

    /*description SuperMarket Manage System*/
    main > section:nth-child(1) > article:nth-child(3) > pre:nth-child(4) {
        font-size: 10px;
        display: inline-block;
        position: relative;
        text-align: center;
        left: 20px;
        top: -16px;
    }

    /*Hostel Management System*/
    /*add Hostel Management System text*/
    main > section:nth-child(1) > article:nth-child(4) > p:nth-child(1) {
        font-size: 16px;
        display: inline-block;
        width: 280px;
        text-align: center;
        position: relative;
        left: 20px;
        top: -10px;
    }

    /*add Hostel Management System image*/
    main > section:nth-child(1) > article:nth-child(4) > img:nth-child(2) {
        width: 204px;
        height: 131px;
        position: relative;
        left: 60px;
        top: -16px;
    }

    /*add hover for Hostel Management System image*/
    main > section:nth-child(1) > article:nth-child(4) > img:nth-child(2):hover {
        width: 205px;
        height: 132px;
    }

    /*add view button in Hostel Management System */
    main > section:nth-child(1) > article:nth-child(4) > button:nth-child(3) {
        position: relative;
        right: 80px;
        top: 15px;
        width: 60px;
        height: 23px;
    }

    /*add hover view button in  Hostel Management System*/
    main > section:nth-child(1) > article:nth-child(4) > button:nth-child(3):hover {
        width: 61px;
        height: 24px;
    }

    /*!*remove and add a tag underline*!*/
    main > section:nth-child(1) > article:nth-child(4) > button:nth-child(3) > a, u {
        font-size: 10px;
        position: relative;
        top: -2px;
        left: -4px;
    }

    /*add eye image into button*/
    main > section:nth-child(1) > article:nth-child(4) > button:nth-child(3) > a > img {
        width: 10px;
        height: 10px;
        position: relative;
        left: 5px;
        top: 2px;
    }

    /*point image Hostel Management System*/
    main > section:nth-child(1) > article:nth-child(4) > pre:nth-child(4) > img {
        position: relative;
        left: -98px;
        top: 14px;

        width: 12px;
        height: auto;
    }

    /*description Hostel Management System*/
    main > section:nth-child(1) > article:nth-child(4) > pre:nth-child(4) {
        font-size: 10px;
        display: inline-block;
        position: relative;
        text-align: center;
        left: 20px;
        top: 10px;
    }


    /*--------------------------------------------------------------------------------------*/
    /*Live Chat Application section*/
    /*add live chat text*/
    main > section:nth-child(1) > article:nth-child(5) > p:nth-child(1) {
        font-size: 16px;
        display: inline-block;
        width: 280px;
        text-align: center;
        position: relative;
        left: 20px;
        top: -10px;
    }

    /*add Live Chat System image*/
    main > section:nth-child(1) > article:nth-child(5) > img:nth-child(2) {
        width: 205px;
        height: 147px;
        position: relative;
        left: 60px;
        top: -16px;
    }

    /*add hover for Live Chat System image*/
    main > section:nth-child(1) > article:nth-child(5) > img:nth-child(2):hover {
        width: 206px;
        height: 148px;
    }

    /*add view button in Live Chat System */
    main > section:nth-child(1) > article:nth-child(5) > button:nth-child(3) {
        position: relative;
        right: 80px;
        top: 15px;
        width: 60px;
        height: 23px;
    }

    /*add hover view button in  Live Chat System*/
    main > section:nth-child(1) > article:nth-child(5) > button:nth-child(3):hover {
        width: 61px;
        height: 24px;
    }

    /*!*!*remove and add a tag underline*!*!*/
    main > section:nth-child(1) > article:nth-child(5) > button:nth-child(3) > a, u {
        font-size: 10px;
        position: relative;
        top: -2px;
        left: -4px;
    }

    /*!*add eye image into button*!*/
    main > section:nth-child(1) > article:nth-child(5) > button:nth-child(3) > a > img {
        width: 10px;
        height: 10px;
        position: relative;
        left: 5px;
        top: 2px;
    }

    /*point image Hostel Management System*/
    main > section:nth-child(1) > article:nth-child(5) > pre:nth-child(4) > img {
        position: relative;
        left: -98px;
        top: 14px;

        width: 12px;
        height: auto;
    }

    /*!*description Live Chat System*!*/
    main > section:nth-child(1) > article:nth-child(5) > pre:nth-child(4) {
        font-size: 10px;
        display: inline-block;
        position: relative;
        text-align: center;
        left: 30px;
        top: 10px;
    }


    /*--------------------------------------------------------------------------------------*/
    /*footer Section*/
    /*add colors and height into footer*/
    body > footer {
        height: 40px;
        width: 310px;
        background-color: #231955;
        position: relative;
    }

    /*add styles for button*/
    body > footer > button {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        margin: auto;
        top: 20px;

        width: 65px;
        height: 18px;
    }

    body > footer > button:hover {
        width: 66px;
        height: 19px;
    }

    /*add image into ome button*/
    body > footer > button > a > img {
        left: -8px;
        width: 10px;
        height: 10px;
        top: 2px;
        padding: 0;
    }

    /*remove underline and add styles into home button a tag*/
    body > footer > button > a, u {
        font-size: 10px;
        position: relative;
        right: -4px;
        top: -5px;

    }


}

/*Responsive 375px*/
/*Mobile Small 375px*/
@media all and (min-width: 321px) and (max-width: 375px) {

    /*add header*/
    body > header {
        /*border: 1px solid red;*/
        background-color: #231955;
        width: 365px;
        height: 40px;
        position: sticky;
        top: 0;
        z-index: 10;
    }

    /*add ul for home button in header*/
    ul:nth-child(1) > li {
        top: 5px;
        left: 120px;
        position: relative;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ul li ion-icon {
        font-size: 1.2500em;
    }

    ul li .title {
        font-size: 0.313em;
        letter-spacing: 0.1em;
        transform: scale(0);
        transition: 0.5s;
        transition-delay: 0s;
    }

    /*-------------------------------------------------------------------------------*/
    /*add div for go top up in page*/
    body > div:nth-child(3) {
        position: fixed;
        width: 30px;
        height: 30px;
        left: 325px;
        border-radius: 60px;
        top: 160px;
        z-index: 5;
    }

    body > div:nth-child(3):hover {
        width: 32px;
        height: 32px;
    }

    /*add image into go top*/
    body > div:nth-child(3) > a > img {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    /*-------------------------------------------------------------------------------*/
    /*my project gif*/
    body > div:nth-child(2) > img:nth-child(1) {
        width: 20px;
        height: 20px;
        position: relative;
        left: 73px;
        top: 21px;
        border-radius: 20px;
    }

    /*!*add Headline Project*!*/
    body > div:nth-child(2) > div:nth-child(2) {
        position: absolute;
        font-size: 18px;
        display: inline-block;
        text-align: center;
        top: 30px;
        left: 0;
        right: 0;
        margin: auto;
    }

    /*introduction under Headline*/
    body > div:nth-child(2) > div:nth-child(3) {
        position: absolute;
        font-size: 12px;
        display: inline-block;
        text-align: center;
        top: 66px;
        left: 5px;
        right: 0;
        margin: auto;
    }

    /*-----------------------------------------------------------------------------------------------------*/
    /*add height for vehicle park and pet product section*/
    /*Main Section*/
    main > section:nth-child(1) {
        /*border: 1px solid green;*/
        display: grid;
        width: 365px;
        /*height: 2200px;*/
        top: 60px;
        position: relative;

        grid-template-rows: repeat(6, 1fr);
        grid-template-columns:repeat(1, 1fr) ;
    }

    /*add border to separate  with border in article*/
    main > section > article {
        /*border: 1px solid deeppink;*/
        width: 365px;
        height: 385px;
    }

    /*add vehicle park text*/
    main > section:nth-child(1) > article:nth-child(1) > p:nth-child(1) {
        font-size: 18px;
        display: inline-block;
        width: 250px;
        text-align: center;
        position: relative;
        left: 60px;
        top: -10px;
    }

    /*add Vehicle Parking  System image*/
    main > section:nth-child(1) > article:nth-child(1) > img:nth-child(2) {
        position: relative;
        width: 215px;
        height: 118px;
        left: 74px;
        top: -16px;
    }

    /*add hover for Vehicle Parking  System image*/
    main > section:nth-child(1) > article:nth-child(1) > img:nth-child(2):hover {
        width: 216px;
        height: 119px;
    }

    /*add view button in vehicle park system*/
    main > section:nth-child(1) > article:nth-child(1) > button:nth-child(3) {
        position: relative;
        right: 80px;
        top: 15px;
        width: 70px;
        height: 23px;
    }

    /*add hover view button in vehicle park system*/
    main > section:nth-child(1) > article:nth-child(1) > button:nth-child(3):hover {
        width: 61px;
        height: 24px;
    }

    /*remove and add a tag underline*/
    main > section:nth-child(1) > article:nth-child(1) > button:nth-child(3) > a, u {
        font-size: 10px;
        position: relative;
        top: -2px;
        left: -4px;
    }

    /*add eye image into button*/
    main > section:nth-child(1) > article:nth-child(1) > button:nth-child(3) > a > img {
        width: 10px;
        height: 10px;
        position: relative;
        left: 5px;
        top: 2px;
    }

    /*point image vehicle park system*/
    main > section:nth-child(1) > article:nth-child(1) > pre:nth-child(4) > img {
        position: relative;
        left: -98px;
        top: 14px;

        width: 12px;
        height: auto;
    }

    /*description vehicle park system*/
    main > section:nth-child(1) > article:nth-child(1) > pre:nth-child(4) {
        font-size: 10px;
        display: inline-block;
        position: relative;
        text-align: center;
        left: 35px;
        top: 10px;
    }

    /*Pet & Product Management System*/
    /*add Pet & Product Management System text*/
    main > section:nth-child(1) > article:nth-child(2) > p:nth-child(1) {
        font-size: 18px;
        display: inline-block;
        width: 300px;
        text-align: center;
        position: relative;
        left: 40px;
        top: -10px;
    }

    /*add Pet & Product Management image*/
    main > section:nth-child(1) > article:nth-child(2) > img:nth-child(2) {
        width: 217px;
        height: 141px;
        position: relative;
        left: 80px;
        top: -16px;
    }

    /*add hover for Pet & Product Management image*/
    main > section:nth-child(1) > article:nth-child(2) > img:nth-child(2):hover {
        width: 218px;
        height: 142px;
    }

    /*add view button in Pet & Product Management system*/
    main > section:nth-child(1) > article:nth-child(2) > button:nth-child(3) {
        position: relative;
        right: 70px;
        top: 15px;
        width: 60px;
        height: 23px;
    }

    /*add hover view button in Pet & Product Management system*/
    main > section:nth-child(1) > article:nth-child(2) > button:nth-child(3):hover {
        width: 61px;
        height: 24px;
    }

    /*remove and add a tag underline*/
    main > section:nth-child(1) > article:nth-child(2) > button:nth-child(3) > a, u {
        font-size: 10px;
        position: relative;
        top: -2px;
        left: -4px;
    }

    /*add eye image into button*/
    main > section:nth-child(1) > article:nth-child(2) > button:nth-child(3) > a > img {
        width: 10px;
        height: 10px;
        position: relative;
        left: 5px;
        top: 2px;
    }

    /*!*point image vehicle park system*!*/
    main > section:nth-child(1) > article:nth-child(2) > pre:nth-child(4) > img {
        position: relative;
        left: -98px;
        top: 14px;

        width: 12px;
        height: auto;
    }

    /*description Pet & Product Management System*/
    main > section:nth-child(1) > article:nth-child(2) > pre:nth-child(4) {
        font-size: 10px;
        display: inline-block;
        position: relative;
        text-align: center;
        left: 52px;
        top: 10px;
    }

    /*------------------------------------------------------------------------------------------------*/
    /*SuperMarket Manage System and Hostel Management System section*/
    /*add SuperMarket Manage System text*/
    main > section:nth-child(1) > article:nth-child(3) > p:nth-child(1) {
        font-size: 18px;
        display: inline-block;
        width: 280px;
        text-align: center;
        position: relative;
        left: 50px;
        top: -15px;
    }

    /*add SuperMarket Manage System image*/
    main > section:nth-child(1) > article:nth-child(3) > img:nth-child(2) {
        width: 203px;
        height: 181px;
        position: relative;
        left: 80px;
        top: -22px;
    }

    /*add hover for SuperMarket Manage System image*/
    main > section:nth-child(1) > article:nth-child(3) > img:nth-child(2):hover {
        width: 204px;
        height: 182px;
    }

    /*add view button in SuperMarket Manage System */
    main > section:nth-child(1) > article:nth-child(3) > button:nth-child(3) {
        position: relative;
        right: 60px;
        top: 2px;
        width: 60px;
        height: 23px;
    }

    /*add hover view button in  SuperMarket Manage System */
    main > section:nth-child(1) > article:nth-child(3) > button:nth-child(3):hover {
        width: 61px;
        height: 24px;
    }

    /*remove and add a tag underline*/
    main > section:nth-child(1) > article:nth-child(3) > button:nth-child(3) > a, u {
        font-size: 10px;
        position: relative;
        top: -2px;
        left: -4px;
    }

    /*add eye image into button*/
    main > section:nth-child(1) > article:nth-child(3) > button:nth-child(3) > a > img {
        width: 10px;
        height: 10px;
        position: relative;
        left: 5px;
        top: 2px;
    }

    /*point image vehicle park system*/
    main > section:nth-child(1) > article:nth-child(3) > pre:nth-child(4) > img {
        position: relative;
        left: -98px;
        top: 14px;

        width: 12px;
        height: auto;
    }

    /*description SuperMarket Manage System*/
    main > section:nth-child(1) > article:nth-child(3) > pre:nth-child(4) {
        font-size: 10px;
        display: inline-block;
        position: relative;
        text-align: center;
        left: 44px;
        top: -16px;
    }


    /*Hostel Management System*/
    /*add Hostel Management System text*/
    main > section:nth-child(1) > article:nth-child(4) > p:nth-child(1) {
        font-size: 18px;
        display: inline-block;
        width: 280px;
        text-align: center;
        position: relative;
        left: 50px;
        top: -10px;
    }

    /*add Hostel Management System image*/
    main > section:nth-child(1) > article:nth-child(4) > img:nth-child(2) {
        width: 214px;
        height: 137px;
        position: relative;
        left: 75px;
        top: -16px;
    }

    /*add hover for Hostel Management System image*/
    main > section:nth-child(1) > article:nth-child(4) > img:nth-child(2):hover {
        width: 215px;
        height: 138px;
    }

    /*add view button in Hostel Management System */
    main > section:nth-child(1) > article:nth-child(4) > button:nth-child(3) {
        position: relative;
        right: 68px;
        top: 15px;
        width: 60px;
        height: 23px;
    }

    /*add hover view button in  Hostel Management System*/
    main > section:nth-child(1) > article:nth-child(4) > button:nth-child(3):hover {
        width: 61px;
        height: 24px;
    }

    /*!*remove and add a tag underline*!*/
    main > section:nth-child(1) > article:nth-child(4) > button:nth-child(3) > a, u {
        font-size: 10px;
        position: relative;
        top: -2px;
        left: -4px;
    }

    /*add eye image into button*/
    main > section:nth-child(1) > article:nth-child(4) > button:nth-child(3) > a > img {
        width: 10px;
        height: 10px;
        position: relative;
        left: 5px;
        top: 2px;
    }

    /*point image Hostel Management System*/
    main > section:nth-child(1) > article:nth-child(4) > pre:nth-child(4) > img {
        position: relative;
        left: -98px;
        top: 14px;

        width: 12px;
        height: auto;
    }

    /*description Hostel Management System*/
    main > section:nth-child(1) > article:nth-child(4) > pre:nth-child(4) {
        font-size: 10px;
        display: inline-block;
        position: relative;
        text-align: center;
        left: 50px;
        top: 10px;
    }

    /*--------------------------------------------------------------------------------------*/
    /*Live Chat Application section*/
    /*add live chat text*/
    main > section:nth-child(1) > article:nth-child(5) > p:nth-child(1) {
        font-size: 18px;
        display: inline-block;
        width: 280px;
        text-align: center;
        position: relative;
        left: 50px;
        top: -10px;
    }

    /*add Live Chat System image*/
    main > section:nth-child(1) > article:nth-child(5) > img:nth-child(2) {
        width: 215px;
        height: 155px;
        position: relative;
        left: 80px;
        top: -16px;
    }

    /*add hover for Live Chat System image*/
    main > section:nth-child(1) > article:nth-child(5) > img:nth-child(2):hover {
        width: 216px;
        height: 156px;
    }

    /*add view button in Live Chat System */
    main > section:nth-child(1) > article:nth-child(5) > button:nth-child(3) {
        position: relative;
        right: 60px;
        top: 15px;
        width: 60px;
        height: 23px;
    }

    /*add hover view button in  Live Chat System*/
    main > section:nth-child(1) > article:nth-child(5) > button:nth-child(3):hover {
        width: 61px;
        height: 24px;
    }

    /*!*!*remove and add a tag underline*!*!*/
    main > section:nth-child(1) > article:nth-child(5) > button:nth-child(3) > a, u {
        font-size: 10px;
        position: relative;
        top: -2px;
        left: -4px;
    }

    /*!*add eye image into button*!*/
    main > section:nth-child(1) > article:nth-child(5) > button:nth-child(3) > a > img {
        width: 10px;
        height: 10px;
        position: relative;
        left: 5px;
        top: 2px;
    }

    /*point image Hostel Management System*/
    main > section:nth-child(1) > article:nth-child(5) > pre:nth-child(4) > img {
        position: relative;
        left: -98px;
        top: 14px;

        width: 12px;
        height: auto;
    }

    /*!*description Live Chat System*!*/
    main > section:nth-child(1) > article:nth-child(5) > pre:nth-child(4) {
        font-size: 10px;
        display: inline-block;
        position: relative;
        text-align: center;
        left: 50px;
        top: 10px;
    }

    /*--------------------------------------------------------------------------------------*/
    /*footer Section*/
    /*add colors and height into footer*/
    body > footer {
        height: 40px;
        width: 365px;
        background-color: #231955;
        position: relative;
    }


    /*add styles for button*/
    body > footer > button {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        margin: auto;
        top: 20px;

        width: 65px;
        height: 18px;
    }

    body > footer > button:hover {
        width: 66px;
        height: 19px;
    }

    /*add image into ome button*/
    body > footer > button > a > img {
        left: -8px;
        width: 10px;
        height: 10px;
        top: 2px;
        padding: 0;
    }

    /*remove underline and add styles into home button a tag*/
    body > footer > button > a, u {
        font-size: 10px;
        position: relative;
        right: -4px;
        top: -5px;

    }

}

/*Responsive 435px*/
/*Mobile Small 435px*/
@media all and (min-width: 376px) and (max-width: 425px) {


}

