/*
created by kasunrachintha on 8/31/22
@author : kasunrachintha
@Date :  8/31/22
@Time: 8:13 am
@Project : My-Portfolio 
*/

/*Header Section*/
/*add header*/
body > header {
    border: 1px solid red;
    width: 99.2vw;
    height: 70px;
    position: sticky;
    top: 0;
}

/*add home image into header*/
body > header > a > img {
    width: 50px;
    height: auto;

    position: absolute;
    left: 0;
    right: 0;
    top: 8px;
    margin: auto;
}


/*Main Section*/
/*add flex for all section*/
main > section {
    border: 1px solid green;
    display: flex;
    width: 99.2vw;
}

/*add border to separate  with border in article*/
main > section > article {
    border: 1px solid deeppink;
    width: 100%;
    height: 620px;
}

/*add vehicle park text*/
main > section:nth-child(1) > article:nth-child(1) > p:nth-child(1) {
    color: #001AFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    display: inline-block;
    width: 250px;
    text-align: center;
    position: relative;
    left: 160px;
    top: -10px;
}

/*add Vehicle Parking  System image*/
main > section:nth-child(1) > article:nth-child(1) > img:nth-child(2) {
    position: relative;
    width: 500px;
    height: 280px;
    left: 30px;
    top: -16px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*add view button in vehicle park system*/
main > section:nth-child(1) > article:nth-child(1) > button:nth-child(3) {
    position: relative;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    right: 270px;
    top: 18px;
    width: 90px;
}

/*remove and add a tag underline*/
main > section:nth-child(1) > article:nth-child(1) > button:nth-child(3) > a, u {
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    top: -2px;
    left: -4px;
}

/*add eye image into button*/
main > section:nth-child(1) > article:nth-child(1) > button:nth-child(3) > a > img {
    width: 20px;
    height: auto;
    position: relative;
    left: 5px;
    top: 6px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*point image vehicle park system*/
main > section:nth-child(1) > article:nth-child(1) > pre:nth-child(4) > img {
    position: relative;
    left: -165px;
    top: 19px;

    width: 12px;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*description vehicle park system*/
main > section:nth-child(1) > article:nth-child(1) > pre:nth-child(4) {
    font-style: normal;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    display: inline-block;
    position: relative;
    text-align: center;
    left: 5px;

    top: 10px;
}

/*add Pet & Product Management System text*/
main > section:nth-child(1) > article:nth-child(2)>p:nth-child(1) {
    color: #001AFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    display: inline-block;
    width: 370px;
    text-align: center;
    position: relative;
    left: 160px;
    top: -10px;
}

/*add Pet & Product Management image*/
main > section:nth-child(1) > article:nth-child(2)>img:nth-child(2) {
    width: 532px;
    height: 324px;
    position: relative;
    left: 80px;
    top: -16px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*add view button in Pet & Product Management system*/
main > section:nth-child(1) > article:nth-child(2) > button:nth-child(3) {
    position: relative;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    right: 240px;
    top: 18px;
    width: 90px;
}

/*remove and add a tag underline*/
main > section:nth-child(1) > article:nth-child(2) > button:nth-child(3) > a, u {
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    top: -2px;
    left: -4px;
}

/*add eye image into button*/
main > section:nth-child(1) > article:nth-child(2) > button:nth-child(3) > a > img {
    width: 20px;
    height: auto;
    position: relative;
    left: 5px;
    top: 6px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*!*point image vehicle park system*!*/
main > section:nth-child(1) > article:nth-child(2) > pre:nth-child(4) > img {
    position: relative;
    left: -153px;
    top: 19px;

    width: 12px;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*description Pet & Product Management System*/
main > section:nth-child(1) > article:nth-child(2) > pre:nth-child(4) {
    font-style: normal;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    display: inline-block;
    position: relative;
    text-align: center;

    left: 115px;
    top: 5px;
}

