/*
created by kasunrachintha on 8/31/22
@author : kasunrachintha
@Date :  8/31/22
@Time: 8:13 am
@Project : My-Portfolio 
*/

/*scroll settings*/
::-webkit-scrollbar {
    width: 10px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: #0022ff;
}
/*-------------------------------------------------------------------*/
/*page loading gif*/
body > div:nth-child(5) {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0.9;
    background-color: #ffffff;
    z-index: 99;
}

body > div:nth-child(5) > div {
    width: 500px;
    height:200px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url("../images/loading/loadingImg2.gif");
    background-size: cover;
    background-position: center;
    z-index: 100;
}
/*-------------------------------------------------------------------*/
/*add header*/
body > header {
    /*border: 1px solid red;*/
    background-color: #231955;
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 10;
}

/*Header Section*/
ul:nth-child(1) {
    margin-top: 0px;
}

/*add ul for home button in header*/
ul:nth-child(1) > li {
    top: 11px;
    left: 620px;
    position: relative;
    list-style: none;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 16px 25px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

/*add hover to change size home ul*/
ul li:hover {
    width: 180px;
    box-shadow: 0 16px 25px rgba(0, 0, 0, 0);
}

/*add color to before li*/
ul li::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--i), var(--j));
    opacity: 0;
    transition: 0.5s;
}

ul li:hover::before {
    opacity: 1;
}

/*add color to after li*/
ul li::after {
    content: '';
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--i), var(--j));
    transition: 0.5s;
    filter: blur(15px);
    z-index: -1;
    opacity: 0;
}

ul li:hover::after {
    opacity: 0.5;
}

ul li ion-icon {
    color: #777;
    font-size: 1.75em;
    transition: 0.5s;
    transition-delay: 0.25s;
}

ul li:hover ion-icon {
    transform: scale(0);
    color: #fff;
    transition-delay: 0s;
}

ul li span {
    position: absolute;
}

ul li span:nth-child(2) > a, u {
    text-decoration: none;
    color: white;
}

ul li .title {
    color: #fff;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
}

ul li:hover .title {
    transform: scale(1);
    transition-delay: 0.25s;

}

/*normal btn*/
.normal_btn {
    /*border: 1px solid red;*/
    position: absolute;
    right: 0px;
    left: 0;
    top: 11px;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 60px;
    /*color: white;*/
    border: 1px solid white;
    cursor: pointer;
    transition: 0.3s;
    visibility: hidden;
}

/*add hover for button*/
.normal_btn:hover {
    transition: 0.3s;
    transform: translateX(3px);
}

/*icon inside normal button*/
.normal_btn .fa-solid {
    font-size: 25px;
    color: black;
}


/*-------------------------------------------------------------------------------*/
/*add div for go top up in page*/
/*gotopdiv*/
body > div:nth-child(2) {
    /*border: 1px solid red;*/
    width: 50px;
    height: 50px;
    border-radius: 60px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    left: 1370px;
    top: 670px;
    cursor: pointer;
    z-index: 10;
}

body > div:nth-child(2):hover {
    width: 51px;
    height: 51px;
    transform: translateY(-3px);
}

body > div:nth-child(2) > a > i {
    position: relative;
    left: 3px;
    font-size: 50px;
    color: black;
}

body > div:nth-child(2) > a .fa-solid:hover {
    color: blue;
}

/*-------------------------------------------------------------------------------*/

/*!*add Headline Project*!*/
.headline_div {
    position: absolute;
    font-size: 30px;
    text-align: center;
    left: 0;
    right: 0;
}

/*!*add font to Project*!*/
.headline_div h2 {
    font-family: 'Poppins', sans-serif;
}


/*introduction under Headline*/
.intro_underheadline {
    position: absolute;
    font-size: 15px;
    text-align: center;
    top: 136px;
    left: 10px;
    right: 0;
}

.intro_underheadline h6 {
    font-family: 'Nunito', sans-serif;
    font-style: italic;
}

/*add colors to Project */
#span1 {
    color: #000000;
}

#span2 {
    color: #8E44AD;
}

/*-----------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------*/
/*add styles for all Sections*/
main > section {
    /*border: 1px solid red;*/
    display: flex;
    width: 100%;
    height: 650px;
    position: relative;
    top: 110px;
}

/*add styles under section main div*/
.project_maindiv {
    /*border: 1px solid blue;*/
    width: 100%;
    height: 100%;
}

/*add styles for all headings*/
.heading {
    color: #001AFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    text-align: center;
}

/*add vehicle system div*/
.vehicle_system_image_div {
    position: relative;
    /*border: 1px solid green;*/
    width: 100%;
    height: 300px;
}

/*add vehicle system image*/
.vehicle_system_image_div > img {
    width: 390px;
    height: 240px;
    position: absolute;
    left: 0;
    top: -20px;
    bottom: 0;
    right: 0;
    margin: auto;
}

/*add all projects view button*/
.Pview_btn {
    position: relative;
    left: 320px;
    bottom: 35px;
    border-radius: 100%;
    /*border: 1px solid red;*/
    width: 30px;
    height: 30px;
    border: 1px solid white;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.3s;
}

/*add all projects view button hover*/
.Pview_btn:hover {
    width: 31px;
    height: 31px;
    transition: 0.3s;
}

/*add eye icon in view button*/
.Pview_btn .fa-solid {
    font-size: 20px;
    left: 3px;
    bottom: 4px;
    position: absolute;
    color: black;
}

/*add introduction vehicle park system*/
.vehicle_project_introduction {
    /*border: 1px solid red;*/
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    width: 430px;
    position: relative;
    top: 50px;
    left: 140px;
    text-align: center;
}

/*add pet product system div*/
.pet_Product_system_image_div {
    position: relative;
    /*border: 1px solid green;*/
    width: 100%;
    height: 300px;
}

/*add pet product system image*/
.pet_Product_system_image_div > img {
    width: 340px;
    height: 240px;
    position: absolute;
    left: 0;
    top: -20px;
    bottom: 0;
    right: 0;
    margin: auto;
}

/*add introduction pet product  system*/
.pet_product_project_introduction {
    /*border: 1px solid red;*/
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    width: 430px;
    position: relative;
    top: 50px;
    left: 140px;
    text-align: center;
}

/*add super Market product system div*/
.supermarket_system_image_div {
    position: relative;
    /*border: 1px solid green;*/
    width: 100%;
    height: 300px;
}

/*add super Market system image*/
.supermarket_system_image_div > img {
    width: 300px;
    height: 240px;
    position: absolute;
    left: 0;
    top: -20px;
    bottom: 0;
    right: 0;
    margin: auto;
}

/*add introduction super market  system*/
.supermarket_project_introduction {
    /*border: 1px solid red;*/
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    width: 430px;
    position: relative;
    top: 50px;
    left: 140px;
    text-align: center;
}

/*add hostel management system div*/
.hostel_management_system_image_div {
    position: relative;
    /*border: 1px solid green;*/
    width: 100%;
    height: 300px;
}

/*add hostel management system image*/
.hostel_management_system_image_div > img {
    width: 340px;
    height: 240px;
    position: absolute;
    left: 0;
    top: -20px;
    bottom: 0;
    right: 0;
    margin: auto;
}

/*add introduction hostel management  system*/
.hostelmanagement_project_introduction {
    /*border: 1px solid red;*/
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    width: 430px;
    position: relative;
    top: 50px;
    left: 140px;
    text-align: center;
}

/*add live chat system div*/
.live_chat_system_image_div {
    position: relative;
    /*border: 1px solid green;*/
    width: 100%;
    height: 300px;
}

/*add live chat system image*/
.live_chat_system_image_div > img {
    width: 340px;
    height: 240px;
    position: absolute;
    left: 0;
    top: -20px;
    bottom: 0;
    right: 0;
    margin: auto;
}

/*add introduction live chat  system*/
.live_chat_project_introduction {
    /*border: 1px solid red;*/
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    width: 430px;
    position: relative;
    top: 50px;
    left: 140px;
    text-align: center;
}

/*--------------------------------------------------------------------------------------*/

/*footer Section*/
/*add colors and height into footer*/
body > footer {
    position: relative;
    height: 70px;
    width: 100%;
    background-color: #231955;
}

.footer_btn_home {
    /*border: 1px solid red;*/
    position: absolute;
    left: 0;
    top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    right: 0;
    margin: auto;
    border: 1px solid white;
    transition: 1.3s;
}

.footer_btn_home:hover {
    width: 41px;
    height: 41px;
    transition: 1.3s;
}

.footer_btn_home .fa-solid {
    font-size: 30px;
    position: relative;
    left: -2px;
    top: 1px;
    color: black;
}


/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*Responsive*/
/*1024 size*/
@media all and (max-width: 1024px) {
    /*-------------------------------------------------------------------*/
    /*add header*/
    body > header {
        /*border: 1px solid red;*/
        background-color: #231955;
        width: 100%;
        height: 70px;
        position: sticky;
        top: 0;
        z-index: 10;
    }

    /*Header Section*/
    ul:nth-child(1) {
        margin-top: 0px;
    }

    /*add ul for home button in header*/
    ul:nth-child(1) > li {
        top: 11px;
        left: 420px;
        position: relative;
        list-style: none;
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 60px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 16px 25px rgba(0, 0, 0, 0.1);
        transition: 0.5s;
    }

    /*add hover to change size home ul*/
    ul li:hover {
        width: 180px;
        box-shadow: 0 16px 25px rgba(0, 0, 0, 0);
    }

    /*add color to before li*/
    ul li::before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 60px;
        background: linear-gradient(45deg, var(--i), var(--j));
        opacity: 0;
        transition: 0.5s;
    }

    ul li:hover::before {
        opacity: 1;
    }

    /*add color to after li*/
    ul li::after {
        content: '';
        position: absolute;
        top: 10px;
        width: 100%;
        height: 100%;
        border-radius: 60px;
        background: linear-gradient(45deg, var(--i), var(--j));
        transition: 0.5s;
        filter: blur(15px);
        z-index: -1;
        opacity: 0;
    }

    ul li:hover::after {
        opacity: 0.5;
    }

    ul li ion-icon {
        color: #777;
        font-size: 1.75em;
        transition: 0.5s;
        transition-delay: 0.25s;
    }

    ul li:hover ion-icon {
        transform: scale(0);
        color: #fff;
        transition-delay: 0s;
    }

    ul li span {
        position: absolute;
    }

    ul li span:nth-child(2) > a, u {
        text-decoration: none;
        color: white;
    }

    ul li .title {
        color: #fff;
        font-size: 1.1em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        transform: scale(0);
        transition: 0.5s;
        transition-delay: 0s;
    }

    ul li:hover .title {
        transform: scale(1);
        transition-delay: 0.25s;

    }

    /*normal btn*/
    .normal_btn {
        /*border: 1px solid red;*/
        position: absolute;
        right: 0px;
        left: 0;
        top: 11px;
        margin: auto;
        width: 50px;
        height: 50px;
        border-radius: 60px;
        /*color: white;*/
        border: 1px solid white;
        cursor: pointer;
        transition: 0.3s;
        visibility: hidden;
    }

    /*add hover for button*/
    .normal_btn:hover {
        transition: 0.3s;
        transform: translateX(3px);
    }

    /*icon inside normal button*/
    .normal_btn .fa-solid {
        font-size: 25px;
        color: black;
    }


    /*-------------------------------------------------------------------------------*/
    /*add div for go top up in page*/
    /*gotopdiv*/
    body > div:nth-child(2) {
        /*border: 1px solid red;*/
        width: 50px;
        height: 50px;
        border-radius: 60px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        position: fixed;
        left: 900px;
        top: 510px;
        cursor: pointer;
        z-index: 10;
    }

    body > div:nth-child(2):hover {
        width: 51px;
        height: 51px;
        transform: translateY(-3px);
    }

    body > div:nth-child(2) > a > i {
        position: relative;
        left: 3px;
        font-size: 50px;
        color: black;
    }

    body > div:nth-child(2) > a .fa-solid:hover {
        color: blue;
    }

    /*-------------------------------------------------------------------------------*/
    /*!*add Headline Project*!*/
    .headline_div {
        position: absolute;
        font-size: 30px;
        text-align: center;
        left: 0;
        right: 0;
    }

    /*introduction under Headline*/
    .intro_underheadline {
        position: absolute;
        font-size: 15px;
        text-align: center;
        top: 136px;
        left: 10px;
        right: 0;
    }

    /*-----------------------------------------------------------------------------------------------------*/
    /*-----------------------------------------------------------------------------------------------------*/
    /*add styles for all Sections*/
    main > section {
        /*border: 1px solid red;*/
        display: flex;
        width: 100%;
        height: 650px;
        position: relative;
        top: 110px;
    }


    /*add styles under section main div*/
    .project_maindiv {
        /*border: 1px solid blue;*/
        width: 100%;
        height: 100%;
    }

    /*add styles for all headings*/
    .heading {
        font-size: 20px;
    }


    /*add vehicle system div*/
    .vehicle_system_image_div {
        position: relative;
        /*border: 1px solid green;*/
        width: 100%;
        height: 300px;
    }

    /*add vehicle system image*/
    .vehicle_system_image_div > img {
        width: 360px;
        height: 230px;
    }

    /*add all projects view button*/
    .Pview_btn {
        position: relative;
        left: 240px;
        bottom: 35px;
        border-radius: 100%;
        /*border: 1px solid red;*/
        width: 30px;
        height: 30px;
    }

    /*add all projects view button hover*/
    .Pview_btn:hover {
        width: 31px;
        height: 31px;
        transition: 0.3s;
    }

    /*add eye icon in view button*/
    .Pview_btn .fa-solid {
        font-size: 20px;
        left: 3px;
        bottom: 4px;
        position: absolute;
        color: black;
    }

    /*add introduction vehicle park system*/
    .vehicle_project_introduction {
        /*border: 1px solid red;*/
        font-size: 15px;
        width: 430px;
        position: relative;
        top: 50px;
        left: 40px;
        text-align: center;
    }

    /*add pet product system div*/
    .pet_Product_system_image_div {
        position: relative;
        /*border: 1px solid green;*/
        width: 100%;
        height: 300px;
    }

    /*add pet product system image*/
    .pet_Product_system_image_div > img {
        width: 340px;
        height: 240px;
    }

    /*add introduction pet product  system*/
    .pet_product_project_introduction {
        /*border: 1px solid red;*/
        font-size: 15px;
        width: 430px;
        position: relative;
        top: 50px;
        left: 40px;
        text-align: center;
    }

    /*add super Market product system div*/
    .supermarket_system_image_div {
        position: relative;
        /*border: 1px solid green;*/
        width: 100%;
        height: 300px;
    }

    /*add super Market system image*/
    .supermarket_system_image_div > img {
        width: 300px;
        height: 240px;
    }

    /*add introduction super market  system*/
    .supermarket_project_introduction {
        /*border: 1px solid red;*/
        font-size: 15px;
        width: 430px;
        position: relative;
        top: 50px;
        left: 40px;
        text-align: center;
    }


    /*add hostel management system div*/
    .hostel_management_system_image_div {
        position: relative;
        /*border: 1px solid green;*/
        width: 100%;
        height: 300px;
    }

    /*add hostel management system image*/
    .hostel_management_system_image_div > img {
        width: 340px;
        height: 240px;
    }

    /*add introduction hostel management  system*/
    .hostelmanagement_project_introduction {
        /*border: 1px solid red;*/
        font-size: 15px;
        width: 430px;
        position: relative;
        top: 50px;
        left: 40px;
        text-align: center;
    }

    /*add live chat system div*/
    .live_chat_system_image_div {
        position: relative;
        /*border: 1px solid green;*/
        width: 100%;
        height: 300px;
    }

    /*add live chat system image*/
    .live_chat_system_image_div > img {
        width: 340px;
        height: 240px;
    }

    /*add introduction live chat  system*/
    .live_chat_project_introduction {
        /*border: 1px solid red;*/
        font-size: 15px;
        width: 430px;
        position: relative;
        top: 50px;
        left: 40px;
        text-align: center;
    }


}

/*768 size*/
@media all and (max-width: 768px) {

    /*-------------------------------------------------------------------*/
    /*add header*/
    body > header {
        /*border: 1px solid red;*/
        background-color: #231955;
        width: 100%;
        height: 50px;
        position: sticky;
        top: 0;
        z-index: 10;
    }

    /*hide modern button*/
    header > ul {
        display: none;
    }

    /*normal btn*/
    .normal_btn {
        /*border: 1px solid red;*/
        position: absolute;
        right: 0px;
        left: 0;
        top: 6px;
        margin: auto;
        width: 40px;
        height: 40px;
        border-radius: 60px;
        border: 1px solid white;
        cursor: pointer;
        transition: 0.3s;
        visibility: visible;
    }

    /*add hover for button*/
    .normal_btn:hover {
        transition: 0.3s;
        transform: translateX(3px);
    }

    /*icon inside normal button*/
    .normal_btn .fa-solid {
        font-size: 25px;
        color: black;
    }

    /*-------------------------------------------------------------------------------*/
    /*add div for go top up in page*/
    /*gotopdiv*/
    body > div:nth-child(2) {
        /*border: 1px solid red;*/
        width: 40px;
        height: 40px;
        border-radius: 60px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        position: fixed;
        left: 690px;
        top: 500px;
        cursor: pointer;
        /*z-index: 10;*/
    }

    body > div:nth-child(2):hover {
        width: 41px;
        height: 41px;
        transform: translateY(-3px);
    }

    body > div:nth-child(2) > a > i {
        position: relative;
        left: 3px;
        font-size: 40px;
        color: black;
    }

    body > div:nth-child(2) > a .fa-solid:hover {
        color: blue;
    }

    /*-------------------------------------------------------------------------------*/
    /*!*add Headline Project*!*/
    .headline_div {
        position: absolute;
        font-size: 20px;
        text-align: center;
        left: 0;
        right: 0;
    }

    /*introduction under Headline*/
    .intro_underheadline {
        position: absolute;
        font-size: 13px;
        text-align: center;
        top: 88px;
        left: 10px;
        right: 0;
    }

    /*-----------------------------------------------------------------------------------------------------*/
    /*-----------------------------------------------------------------------------------------------------*/
    /*add styles for all Sections*/
    main > section {
        /*border: 1px solid red;*/
        display: flex;
        width: 100%;
        height: 650px;
        position: relative;
        top: 110px;
    }

    /*add styles under section main div*/
    .project_maindiv {
        /*border: 1px solid blue;*/
        width: 100%;
        height: 100%;
    }

    /*add styles for all headings*/
    .heading {
        font-size: 18px;
    }

    /*add vehicle system div*/
    .vehicle_system_image_div {
        position: relative;
        /*border: 1px solid green;*/
        width: 100%;
        height: 300px;
    }

    /*add vehicle system image*/
    .vehicle_system_image_div > img {
        width: 270px;
        height: 150px;
    }

    /*add all projects view button*/
    .Pview_btn {
        position: relative;
        left: 170px;
        bottom: 41px;
        border-radius: 100%;
        /*border: 1px solid red;*/
        width: 30px;
        height: 30px;
    }

    /*add all projects view button hover*/
    .Pview_btn:hover {
        width: 31px;
        height: 31px;
        transition: 0.3s;
    }

    /*add eye icon in view button*/
    .Pview_btn .fa-solid {
        font-size: 20px;
        left: 3px;
        bottom: 4px;
        position: absolute;
        color: black;
    }

    /*add introduction vehicle park system*/
    .vehicle_project_introduction {
        /*border: 1px solid red;*/
        font-size: 12px;
        width: 290px;
        position: relative;
        top: 50px;
        left: 13px;
        text-align: center;
    }

    /*add pet product system div*/
    .pet_Product_system_image_div {
        position: relative;
        /*border: 1px solid green;*/
        width: 100%;
        height: 300px;
    }

    /*add pet product system image*/
    .pet_Product_system_image_div > img {
        width: 310px;
        height: 210px;
    }

    /*add introduction pet product  system*/
    .pet_product_project_introduction {
        /*border: 1px solid red;*/
        font-size: 12px;
        width: 310px;
        position: relative;
        top: 50px;
        left: 40px;
        text-align: center;
    }

    /*add super Market product system div*/
    .supermarket_system_image_div {
        position: relative;
        /*border: 1px solid green;*/
        width: 100%;
        height: 300px;
    }

    /*add super Market system image*/
    .supermarket_system_image_div > img {
        width: 280px;
        height: 220px
    }

    /*add introduction super market  system*/
    .supermarket_project_introduction {
        /*border: 1px solid red;*/
        font-size: 12px;
        width: 250px;
        position: relative;
        top: 50px;
        left: 30px;
        text-align: center;
    }

    /*add hostel management system div*/
    .hostel_management_system_image_div {
        position: relative;
        /*border: 1px solid green;*/
        width: 100%;
        height: 300px;
    }

    /*add hostel management system image*/
    .hostel_management_system_image_div > img {
        width: 320px;
        height: 210px;
    }

    /*add introduction hostel management  system*/
    .hostelmanagement_project_introduction {
        /*border: 1px solid red;*/
        font-size: 12px;
        width: 280px;
        position: relative;
        top: 50px;
        left: 40px;
        text-align: center;
    }

    /*add live chat system div*/
    .live_chat_system_image_div {
        position: relative;
        /*border: 1px solid green;*/
        width: 100%;
        height: 300px;
    }

    /*add live chat system image*/
    .live_chat_system_image_div > img {
        width: 320px;
        height: 230px;
    }

    /*add introduction live chat  system*/
    .live_chat_project_introduction {
        /*border: 1px solid red;*/
        font-size: 12px;
        width: 290px;
        position: relative;
        top: 50px;
        left: 40px;
        text-align: center;
    }

    body > footer {
        position: relative;
        height: 50px;
        width: 100%;
        background-color: #231955;
    }


    .footer_btn_home {
        /*border: 1px solid red;*/
        position: absolute;
        left: 0;
        top: 9px;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        right: 0;
        margin: auto;
        border: 1px solid white;
        transition: 1.3s;
    }

    .footer_btn_home:hover {
        width: 41px;
        height: 41px;
        transition: 1.3s;
    }

    .footer_btn_home .fa-solid {
        font-size: 30px;
        position: relative;
        left: -2px;
        top: 1px;
        color: black;
    }

}

/*425 size*/
@media all and (max-width: 425px){
    /*page loading gif 425,375,320 all in this code*/
    body > div:nth-child(5) {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center;
        opacity: 0.9;
        background-color: #ffffff;
        z-index: 99;
    }

    body > div:nth-child(5) > div {
        width: 300px;
        height:200px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: url("../images/loading/loadingImg2.gif");
        background-size: cover;
        background-position: center;
        z-index: 100;
    }
    /*-------------------------------------------------------------------*/
    /*add header*/
    body > header {
        /*border: 1px solid red;*/
        background-color: #231955;
        width: 100%;
        height: 50px;
        position: sticky;
        top: 0;
        z-index: 10;
    }

    /*hide modern button*/
    header > ul {
        display: none;
    }

    /*normal btn*/
    .normal_btn {
        /*border: 1px solid red;*/
        position: absolute;
        right: 0px;
        left: 0;
        top: 6px;
        margin: auto;
        width: 40px;
        height: 40px;
        border-radius: 60px;
        border: 1px solid white;
        cursor: pointer;
        transition: 0.3s;
        visibility: visible;
    }

    /*add hover for button*/
    .normal_btn:hover {
        transition: 0.3s;
        transform: translateX(3px);
    }

    /*icon inside normal button*/
    .normal_btn .fa-solid {
        font-size: 25px;
        color: black;
    }

    /*-------------------------------------------------------------------------------*/
    /*add div for go top up in page*/
    /*gotopdiv*/
    body > div:nth-child(2) {
        /*border: 1px solid red;*/
        width: 40px;
        height: 40px;
        border-radius: 60px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        position: fixed;
        left: 370px;
        top: 520px;
        cursor: pointer;
    }

    body > div:nth-child(2):hover {
        width: 41px;
        height: 41px;
        transform: translateY(-3px);
    }

    body > div:nth-child(2) > a > i {
        position: relative;
        left: 3px;
        font-size: 40px;
        color: black;
    }

    body > div:nth-child(2) > a .fa-solid:hover {
        color: blue;
    }

    /*-------------------------------------------------------------------------------*/
    /*!*add Headline Project*!*/
    .headline_div {
        position: absolute;
        font-size: 18px;
        text-align: center;
        left: 0;
        right: 0;
    }

    /*introduction under Headline*/
    .intro_underheadline {
        position: absolute;
        font-size: 10px;
        text-align: center;
        top: 88px;
        left: 10px;
        right: 0;
    }

    /*-----------------------------------------------------------------------------------------------------*/
    /*-----------------------------------------------------------------------------------------------------*/
    /*add styles for all Sections*/
    main > section {
        /*border: 1px solid red;*/
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 650px;
        position: relative;
        top: 80px;
    }

    /*add styles under section main div*/
    .project_maindiv {
        /*border: 1px solid green;*/
        width: 100%;
        height: 323px;
    }

    /*add styles for all headings*/
    .heading {
        /*border: 1px solid yellow;*/
        font-size: 15px;
    }

    /*add vehicle system div*/
    .vehicle_system_image_div {
        position: relative;
        /*border: 1px solid orange;*/
        width: 100%;
        height: 150px;
    }

    /*add vehicle system image*/
    .vehicle_system_image_div > img {
        width: 215px;
        height: 118px;
    }

    /*add all projects view button*/
    .Pview_btn {
        position: relative;
        left: 200px;
        bottom: 27px;
        border-radius: 100%;
        /*border: 1px solid red;*/
        width: 20px;
        height: 20px;
    }

    /*add all projects view button hover*/
    .Pview_btn:hover {
        width: 21px;
        height: 21px;
        transition: 0.3s;
    }

    /*add eye icon in view button*/
    .Pview_btn .fa-solid {
        font-size: 10px;
        left: 3px;
        bottom: 4px;
        position: absolute;
        color: black;
    }

    /*add introduction vehicle park system*/
    .vehicle_project_introduction {
        /*border: 1px solid red;*/
        font-size: 10px;
        width: 290px;
        position: relative;
        top: -10px;
        left: 63px;
        text-align: center;
    }

    /*add pet product system div*/
    .pet_Product_system_image_div {
        position: relative;
        /*border: 1px solid green;*/
        width: 100%;
        height: 150px;
    }

    /*add pet product system image*/
    .pet_Product_system_image_div > img {
        width: 190px;
        height: 114px;
    }

    /*add introduction pet product  system*/
    .pet_product_project_introduction {
        /*border: 1px solid red;*/
        font-size: 10px;
        width: 310px;
        position: relative;
        top: 10px;
        left: 50px;
        text-align: center;
    }

    /*add super Market product system div*/
    .supermarket_system_image_div {
        position: relative;
        /*border: 1px solid green;*/
        width: 100%;
        height: 150px;
    }

    /*add super Market system image*/
    .supermarket_system_image_div > img {
        width: 150px;
        height: 115px;
    }

    /*add introduction super market  system*/
    .supermarket_project_introduction {
        /*border: 1px solid red;*/
        font-size: 10px;
        width: 250px;
        position: relative;
        top: -10px;
        left: 80px;
        text-align: center;
    }

    /*add hostel management system div*/
    .hostel_management_system_image_div {
        position: relative;
        /*border: 1px solid green;*/
        width: 100%;
        height: 150px;
    }

    /*add hostel management system image*/
    .hostel_management_system_image_div > img {
        width: 164px;
        height: 113px;
    }

    /*add introduction hostel management  system*/
    .hostelmanagement_project_introduction {
        /*border: 1px solid red;*/
        font-size: 10px;
        width: 280px;
        position: relative;
        top: 0px;
        left: 70px;
        text-align: center;
    }

    /*add live chat system div*/
    .live_chat_system_image_div {
        position: relative;
        /*border: 1px solid green;*/
        width: 100%;
        height: 150px;
    }

    /*add live chat system image*/
    .live_chat_system_image_div > img {
        width: 155px;
        height: 110px;
    }

    /*add introduction live chat  system*/
    .live_chat_project_introduction {
        /*border: 1px solid red;*/
        font-size: 10px;
        width: 290px;
        position: relative;
        top: 10px;
        left: 60px;
        text-align: center;
    }

    body > footer {
        position: relative;
        height: 50px;
        width: 100%;
        background-color: #231955;
    }

    .footer_btn_home {
        /*border: 1px solid red;*/
        position: absolute;
        left: 0;
        top: 6px;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        right: 0;
        margin: auto;
        border: 1px solid white;
        transition: 1.3s;
    }

    .footer_btn_home:hover {
        width: 41px;
        height: 41px;
        transition: 1.3s;
    }

    .footer_btn_home .fa-solid {
        font-size: 30px;
        position: relative;
        left: -2px;
        top: 1px;
        color: black;
    }

}

/*375 size*/
@media all and (max-width: 375px){
    /*-------------------------------------------------------------------*/
    /*add header*/
    body > header {
        /*border: 1px solid red;*/
        background-color: #231955;
        width: 100%;
        height: 50px;
        position: sticky;
        top: 0;
        z-index: 10;
    }

    /*hide modern button*/
    header > ul {
        display: none;
    }

    /*normal btn*/
    .normal_btn {
        /*border: 1px solid red;*/
        position: absolute;
        right: 0px;
        left: 0;
        top: 10px;
        margin: auto;
        width: 30px;
        height: 30px;
        border-radius: 60px;
        border: 1px solid white;
        cursor: pointer;
        transition: 0.3s;
        visibility: visible;
    }

    /*add hover for button*/
    .normal_btn:hover {
        transition: 0.3s;
        transform: translateX(3px);
    }

    /*icon inside normal button*/
    .normal_btn .fa-solid {
        font-size: 15px;
        color: black;
    }

    /*-------------------------------------------------------------------------------*/
    /*add div for go top up in page*/
    /*gotopdiv*/
    body > div:nth-child(2) {
        /*border: 1px solid red;*/
        width: 40px;
        height: 40px;
        border-radius: 60px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        position: fixed;
        left: 310px;
        top: 520px;
        cursor: pointer;
    }

    body > div:nth-child(2):hover {
        width: 41px;
        height: 41px;
        transform: translateY(-3px);
    }

    body > div:nth-child(2) > a > i {
        position: relative;
        left: 3px;
        font-size: 40px;
        color: black;
    }

    body > div:nth-child(2) > a .fa-solid:hover {
        color: blue;
    }

    /*-------------------------------------------------------------------------------*/
    /*!*add Headline Project*!*/
    .headline_div {
        position: absolute;
        font-size: 18px;
        text-align: center;
        left: 0;
        right: 0;
    }

    /*introduction under Headline*/
    .intro_underheadline {
        position: absolute;
        font-size: 10px;
        text-align: center;
        top: 88px;
        left: 10px;
        right: 0;
    }

    /*-----------------------------------------------------------------------------------------------------*/
    /*-----------------------------------------------------------------------------------------------------*/
    /*add styles for all Sections*/
    main > section {
        /*border: 1px solid red;*/
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 650px;
        position: relative;
        top: 80px;
    }

    /*add styles under section main div*/
    .project_maindiv {
        /*border: 1px solid green;*/
        width: 100%;
        height: 323px;
    }

    /*add styles for all headings*/
    .heading {
        /*border: 1px solid yellow;*/
        font-size: 15px;
    }

    /*add vehicle system div*/
    .vehicle_system_image_div {
        position: relative;
        /*border: 1px solid orange;*/
        width: 100%;
        height: 160px;
    }

    /*add vehicle system image*/
    .vehicle_system_image_div > img {
        width: 215px;
        height: 118px;
    }

    /*add all projects view button*/
    .Pview_btn {
        position: relative;
        left: 180px;
        bottom: 27px;
        border-radius: 100%;
        /*border: 1px solid red;*/
        width: 20px;
        height: 20px;
    }

    /*add all projects view button hover*/
    .Pview_btn:hover {
        width: 21px;
        height: 21px;
        transition: 0.3s;
    }

    /*add eye icon in view button*/
    .Pview_btn .fa-solid {
        font-size: 10px;
        left: 3px;
        bottom: 4px;
        position: absolute;
        color: black;
    }

    /*add introduction vehicle park system*/
    .vehicle_project_introduction {
        /*border: 1px solid red;*/
        font-size: 10px;
        width: 290px;
        position: relative;
        top: -10px;
        left: 43px;
        text-align: center;
    }

    /*add pet product system div*/
    .pet_Product_system_image_div {
        position: relative;
        /*border: 1px solid green;*/
        width: 100%;
        height: 160px;
    }

    /*add pet product system image*/
    .pet_Product_system_image_div > img {
        width: 190px;
        height: 114px;
    }

    /*add introduction pet product  system*/
    .pet_product_project_introduction {
        /*border: 1px solid red;*/
        font-size: 10px;
        width: 310px;
        position: relative;
        top: 10px;
        left: 30px;
        text-align: center;
    }

    /*add super Market product system div*/
    .supermarket_system_image_div {
        position: relative;
        /*border: 1px solid green;*/
        width: 100%;
        height: 160px;
    }

    /*add super Market system image*/
    .supermarket_system_image_div > img {
        width: 150px;
        height: 115px;
    }

    /*add introduction super market  system*/
    .supermarket_project_introduction {
        /*border: 1px solid red;*/
        font-size: 10px;
        width: 250px;
        position: relative;
        top: -19px;
        left: 60px;
        text-align: center;
    }

    /*add hostel management system div*/
    .hostel_management_system_image_div {
        position: relative;
        /*border: 1px solid green;*/
        width: 100%;
        height: 160px;
    }

    /*add hostel management system image*/
    .hostel_management_system_image_div > img {
        width: 164px;
        height: 113px;
    }

    /*add introduction hostel management  system*/
    .hostelmanagement_project_introduction {
        /*border: 1px solid red;*/
        font-size: 10px;
        width: 280px;
        position: relative;
        top: -10px;
        left: 50px;
        text-align: center;
    }

    /*add live chat system div*/
    .live_chat_system_image_div {
        position: relative;
        /*border: 1px solid green;*/
        width: 100%;
        height: 160px;
    }

    /*add live chat system image*/
    .live_chat_system_image_div > img {
        width: 155px;
        height: 110px;
    }

    /*add introduction live chat  system*/
    .live_chat_project_introduction {
        /*border: 1px solid red;*/
        font-size: 10px;
        width: 290px;
        position: relative;
        top: 10px;
        left: 40px;
        text-align: center;
    }

    body > footer {
        position: relative;
        height: 50px;
        width: 100%;
        background-color: #231955;
    }

    .footer_btn_home {
        /*border: 1px solid red;*/
        position: absolute;
        left: 0;
        top: 6px;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        right: 0;
        margin: auto;
        border: 1px solid white;
        transition: 1.3s;
    }

    .footer_btn_home:hover {
        width: 31px;
        height: 31px;
        transition: 1.3s;
    }

    .footer_btn_home .fa-solid {
        font-size: 20px;
        position: relative;
        left: -2px;
        top: 1px;
        color: black;
    }

}

/*320 size*/
@media all and (max-width: 320px){
    /*-------------------------------------------------------------------*/
    /*add header*/
    body > header {
        /*border: 1px solid red;*/
        background-color: #231955;
        width: 100%;
        height: 40px;
        position: sticky;
        top: 0;
        z-index: 10;
    }

    /*hide modern button*/
    header > ul {
        display: none;
    }

    /*normal btn*/
    .normal_btn {
        /*border: 1px solid red;*/
        position: absolute;
        right: 0px;
        left: 0;
        top: 6px;
        margin: auto;
        width: 30px;
        height: 30px;
        border-radius: 60px;
        border: 1px solid white;
        cursor: pointer;
        transition: 0.3s;
        visibility: visible;
    }

    /*add hover for button*/
    .normal_btn:hover {
        transition: 0.3s;
        transform: translateX(3px);
    }

    /*icon inside normal button*/
    .normal_btn .fa-solid {
        font-size: 15px;
        color: black;
    }

    /*-------------------------------------------------------------------------------*/
    /*add div for go top up in page*/
    /*gotopdiv*/
    body > div:nth-child(2) {
        /*border: 1px solid red;*/
        width: 30px;
        height: 30px;
        position: fixed;
        left: 263px;
        top: 520px;
        cursor: pointer;
    }

    body > div:nth-child(2):hover {
        width: 31px;
        height: 31px;
        transform: translateY(-3px);
    }

    body > div:nth-child(2) > a > i {
        position: relative;
        left: 6px;
        top: 5px;
        font-size: 20px;
        color: black;
    }

    body > div:nth-child(2) > a .fa-solid:hover {
        color: blue;
    }


    /*-------------------------------------------------------------------------------*/
    /*!*add Headline Project*!*/
    .headline_div {
        position: absolute;
        font-size: 18px;
        text-align: center;
        left: 0;
        right: 0;
    }

    /*introduction under Headline*/
    .intro_underheadline {
        position: absolute;
        font-size: 10px;
        text-align: center;
        top: 88px;
        left: 10px;
        right: 0;
    }


    /*-----------------------------------------------------------------------------------------------------*/
    /*-----------------------------------------------------------------------------------------------------*/
    /*add styles for all Sections*/
    main > section {
        /*border: 1px solid red;*/
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 650px;
        position: relative;
        top: 80px;
    }


    /*add styles under section main div*/
    .project_maindiv {
        /*border: 1px solid green;*/
        width: 100%;
        height: 323px;
    }

    /*add styles for all headings*/
    .heading {
        /*border: 1px solid yellow;*/
        font-size: 15px;
    }

    /*add vehicle system div*/
    .vehicle_system_image_div {
        position: relative;
        /*border: 1px solid orange;*/
        width: 100%;
        height: 160px;
    }

    /*add vehicle system image*/
    .vehicle_system_image_div > img {
        width: 215px;
        height: 118px;
    }

    /*add all projects view button*/
    .Pview_btn {
        position: relative;
        left: 150px;
        bottom: 27px;
        border-radius: 100%;
        /*border: 1px solid red;*/
        width: 20px;
        height: 20px;
    }

    /*add all projects view button hover*/
    .Pview_btn:hover {
        width: 21px;
        height: 21px;
        transition: 0.3s;
    }

    /*add eye icon in view button*/
    .Pview_btn .fa-solid {
        font-size: 10px;
        left: 3px;
        bottom: 4px;
        position: absolute;
        color: black;
    }

    /*add introduction vehicle park system*/
    .vehicle_project_introduction {
        /*border: 1px solid red;*/
        font-size: 10px;
        width: 270px;
        position: relative;
        top: -10px;
        left: 22px;
        text-align: center;
    }

    /*add pet product system div*/
    .pet_Product_system_image_div {
        position: relative;
        /*border: 1px solid green;*/
        width: 100%;
        height: 160px;
    }

    /*add pet product system image*/
    .pet_Product_system_image_div > img {
        width: 190px;
        height: 114px;
    }

    /*add introduction pet product  system*/
    .pet_product_project_introduction {
        /*border: 1px solid red;*/
        font-size: 10px;
        width: 260px;
        position: relative;
        top: 3px;
        left: 24px;
        text-align: center;
    }

    /*add super Market product system div*/
    .supermarket_system_image_div {
        position: relative;
        /*border: 1px solid green;*/
        width: 100%;
        height: 160px;
    }

    /*add super Market system image*/
    .supermarket_system_image_div > img {
        width: 150px;
        height: 115px;
    }

    /*add introduction super market  system*/
    .supermarket_project_introduction {
        /*border: 1px solid red;*/
        font-size: 10px;
        width: 220px;
        position: relative;
        top: -19px;
        left: 48px;
        text-align: center;
    }

    /*add hostel management system div*/
    .hostel_management_system_image_div {
        position: relative;
        /*border: 1px solid green;*/
        width: 100%;
        height: 160px;
    }

    /*add hostel management system image*/
    .hostel_management_system_image_div > img {
        width: 164px;
        height: 113px;
    }

    /*add introduction hostel management  system*/
    .hostelmanagement_project_introduction {
        /*border: 1px solid red;*/
        font-size: 10px;
        width: 280px;
        position: relative;
        top: -10px;
        left: 13px;
        text-align: center;
    }

    /*add live chat system div*/
    .live_chat_system_image_div {
        position: relative;
        /*border: 1px solid green;*/
        width: 100%;
        height: 160px;
    }

    /*add live chat system image*/
    .live_chat_system_image_div > img {
        width: 155px;
        height: 110px;
    }

    /*add introduction live chat  system*/
    .live_chat_project_introduction {
        /*border: 1px solid red;*/
        font-size: 10px;
        width: 290px;
        position: relative;
        top: 10px;
        left: 10px;
        text-align: center;
    }

    body > footer {
        position: relative;
        height: 40px;
        width: 100%;
        background-color: #231955;
    }

    .footer_btn_home {
        /*border: 1px solid red;*/
        position: absolute;
        left: 0;
        top: 5px;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        right: 0;
        margin: auto;
        border: 1px solid white;
        transition: 1.3s;
    }

    .footer_btn_home:hover {
        width: 31px;
        height: 31px;
        transition: 1.3s;
    }

    .footer_btn_home .fa-solid {
        font-size: 20px;
        position: relative;
        left: -2px;
        top: 1px;
        color: black;
    }

}





