/*HEADER SECTION*/

/*Setup home image sizes*/
body>header>nav>img{
    width: 50px;
    height: 50px;
}

/*add header headlines and styles*/
body>header>nav>article{
    font-size: 26px;
    position: relative;
    left: 820px;
    bottom: 50px;
}

body>header>nav>article>a,u{
    text-decoration: none;
}

/*add some paddings for headlines*/
body>header>nav>article>a{
    padding-right: 10px;
}

/*MAIN SECTION*/
/*Profile*/

/*Create a div and add style*/
body>main>section>div{
    position: relative;
    background-color:#F7F7F7;
    width: 1420px;
    height: 500px;
}

/*Add width & height social media images*/
body>main>section>div>nav>img{
    width: 40px;
    height: 40px;
}


