/*Scroll Bar*/
::-webkit-scrollbar {
    width: 12px;
    background-color: cornflowerblue;
}

::-webkit-scrollbar-thumb {
    background-color: yellow;
}

/*HEADER SECTION*/
/*Add Header */
header {
    width: 99.1vw;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 15;

    background: #ED9275;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*add home image sizes*/
header > nav > img {
    position: relative;
    width: 50px;
    height: 50px;
    left: 15px;
    top: 12px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*add header headlines and styles*/
header > nav > article {
    position: absolute;
    right: 14px;
    top: 22px;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Nunito', sans-serif;
}

/*remove headlines underlines and add paddings*/
body > header > nav > article > a, u {
    text-decoration: none;
    color: #000000;
    padding-right: 10px;
}

/*Added hover colors into header nav*/
body > header > nav > article > a:hover {
    color: red;
}

/*MAIN SECTION*/
main > section {
    width: 99vw;
    height: 100vh;
    border: 1px solid red;
    position: relative;
}

/*Profile*/
/*add styles for Profile section*/
body > main > section:nth-child(1) {
    /*width: 99vw;*/
    /*height: 716px;*/
    /*position: relative;*/
    background: #F8F4F4;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/**/
body > main > section > nav {
    display: flex;
}

/*social links manage and add colors for icon(white)*/
body > main > section > nav > a {
    top: 490px;
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    color: #000;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
    margin: 0 15px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
}

/*individual links manage*/
body > main > section > nav > a .fa-brands {
    font-size: 30px;
    line-height: 80px;
    position: relative;
    z-index: 10;
    transition: color 0.3s;
}

/*add 2 colors for when mouse go to social media icons*/
body > main > section > nav > a::after {
    content: '';
    width: 100%;
    height: 100%;
    top: -90px;
    left: 0;
    background: linear-gradient(-45deg, #ed1c94, #ffec17);
    position: absolute;
    transition: 0.3s;
}

/*add 2 color box up to social media icon*/
body > main > section > nav > a:hover::after {
    top: 0;
}

body > main > section > nav > a:hover .fa-brands {
    color: #fff;
}

/*social media icon move 10px up*/
body > main > section > nav > a:hover {
    transform: translateY(-10px);
}

/*Added gif into profile section */
body > main > section:nth-child(1) > img {
    width: 593px;
    height: 623px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 215px;
    position: absolute;
    right: 12px;
    top: 60px;
}

/*h1 hi there im kasun weerasinghe*/
body > main > section:nth-child(1) > h1:nth-child(1) {
    font-size: 60px;
    position: absolute;
    display: inline-block;
    top: 105px;
    left: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}

/*h1 i am front end developer*/
body > main > section:nth-child(1) > h1:nth-child(2) {
    position: absolute;
    font-weight: bold;
    display: inline-block;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 44px;
    top: 296px;
    left: 20px;
    font-family: 'Nunito', sans-serif;
}

/*add 2 colors using span to h1 tags*/
#span1 {
    color: #002057;
}

#span2 {
    color: #FE7B01;
}

#span3 {
    color: #930A09;
}

/*Main Section About Me*/
/*add background color*/
body > main > section:nth-child(2) {
    background: #fff;
}

/*add headline git*/
body > main > section:nth-child(2) > img {
    width: 50px;
    height: auto;
    position: relative;
    left: 585px;
    top: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 100px;
}

/*add Headline About Me*/
body > main > section:nth-child(2) > div:nth-child(2) {
    position: absolute;
    font-size: 20px;
    display: inline-block;
    text-align: center;

    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*add font to about me*/
body > main > section:nth-child(2) > div:nth-child(2) > h2 {
    font-family: 'Poppins', sans-serif;
}

/*remove dfn italic style in About section*/
body > main > section:nth-child(2) > div:nth-child(2) > h2 > dfn {
    font-style: normal;
}

/*add colors to about me*/
#span4 {
    color: #000000;
}

#span5 {
    color: #8E44AD;
}

/*introduction under Headline*/
body > main > section:nth-child(2) > div:nth-child(3) {
    position: absolute;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    top: 32px;
    left: -8px;
    right: 0;
    margin: auto;
}

/*add font to under Headline*/
body > main > section:nth-child(2) > div:nth-child(3) > h6 {
    font-family: 'Nunito', sans-serif;
    font-style: italic;
}

/*my profile image*/
body > main > section:nth-child(2) > aside:nth-child(4) > img {
    position: relative;
    width: 350px;
    height: auto;
    top: 140px;
    left: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*my name and position*/
body > main > section:nth-child(2) > pre:nth-child(5) {
    position: relative;
    display: inline-block;
    left: 351px;
    bottom: 238px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

/*bold my name in introduction*/
#span6 {
    font-weight: bold;
}

/*add border to add my details*/
body > main > section:nth-child(2) > div:nth-child(6) {
    /*border: 1px solid blue;*/
    position: relative;
    width: 58vw;
    left: 418px;
    bottom: 260px;
    height: 27vh;
}

/*!*add positions for all p inside div*!*/
body > main > section:nth-child(2) > div:nth-child(6) > p {
    position: absolute;
    display: inline-block;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

/*!*Maintain my details p tags*!*/
body > main > section:nth-child(2) > div:nth-child(6) > p:nth-child(1) {
    left: 0;
}

body > main > section:nth-child(2) > div:nth-child(6) > p:nth-child(2) {
    height: 30px;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

body > main > section:nth-child(2) > div:nth-child(6) > p:nth-child(3) {
    left: 0;
    bottom: 0;
}

body > main > section:nth-child(2) > div:nth-child(6) > p:nth-child(4) {
    right: 0;
    top: 0;
}

body > main > section:nth-child(2) > div:nth-child(6) > p:nth-child(5) {
    height: 30px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

/*!*Add hire me button*!*/
body > main > section:nth-child(2) > div:nth-child(6) > button:nth-child(6) {
    position: absolute;
    width: 135px;
    height: 49px;
    right: 0;
    bottom: 0;

    background: #3742FA;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}

/*add styles hire me text in button*/
body > main > section:nth-child(2) > div:nth-child(6) > button:nth-child(6) > a, u {
    position: absolute;
    left: 18px;
    top: 9px;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    color: #FFFFFF;
    font-size: 26px;
}

/*!*add colors for my details topics*!*/
.my-details {
    color: #021BFF;
}

/*Main Section My Service*/
/*add background color*/
body > main > section:nth-child(3) {
    background: #E4EDFB;
}

/*add headline gif*/
body > main > section:nth-child(3) > img {
    width: 50px;
    height: auto;
    position: relative;
    left: 576px;
    top: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 32px;
}

/*!*add Headline My Service*!*/
body > main > section:nth-child(3) > div:nth-child(2) {
    position: absolute;
    font-size: 20px;
    display: inline-block;
    text-align: center;

    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*!*add font to my service*!*/
body > main > section:nth-child(3) > div:nth-child(2) > h2 {
    font-family: 'Poppins', sans-serif;
}

/*remove dfn italic style in About section*/
body > main > section:nth-child(3) > div:nth-child(2) > h2 > dfn {
    font-style: normal;
}

/*introduction under Headline*/
body > main > section:nth-child(3) > div:nth-child(3) {
    position: absolute;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    top: 33px;
    left: -8px;
    right: 0;
    margin: auto;
}

/*add colors to my service me*/
#span7 {
    color: #000000;
}

#span8 {
    color: #8E44AD;
}

/*Add flex box for add my services*/
body > main > section:nth-child(3) > article:nth-child(4) {
    display: flex;
    position: relative;
    width: 98.9vw;
    /*height: 80vh;*/
    top: 45px;
    /*border: 1px solid red;*/
    /*flex-direction: row;*/
}

/*Add sizes all divs in flex box*/
body > main > section:nth-child(3) > article:nth-child(4) > div {
    /*border: 1px solid orange;*/
    width: 100%;
    height: 650px;
}

/*add style UX/UI h3*/
body > main > section:nth-child(3) > article:nth-child(4) > div:nth-child(1) > h3 {
    position: relative;
    text-align: center;
    font-size: 20px;
    color: #EA1DBD;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Nunito', sans-serif;
}

/*add image into UX/UI*/
body > main > section:nth-child(3) > article:nth-child(4) > div:nth-child(1) > img {
    height: 228px;
    width: 228px;
    display: block;
    margin: 0 auto;
    border-radius: 40px;
    position: relative;
    top: 20px;
}

/*description styles UX/UI*/
body > main > section:nth-child(3) > article:nth-child(4) > div:nth-child(1) > pre {
    position: relative;
    text-align: center;
    display: inline-block;
    top: 70px;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    color: #EA1DBD;
    left: -20px;

}

/*add style Software Development h3*/
body > main > section:nth-child(3) > article:nth-child(4) > div:nth-child(2) > h3 {
    position: relative;
    text-align: center;
    font-size: 20px;
    color: #0057FF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Nunito', sans-serif;
}

/*add image into Software Development*/
body > main > section:nth-child(3) > article:nth-child(4) > div:nth-child(2) > img {
    height: 228px;
    width: 228px;
    display: block;
    margin: 0 auto;
    border-radius: 40px;
    position: relative;
    top: 20px;
}

/*description styles Software Development*/
body > main > section:nth-child(3) > article:nth-child(4) > div:nth-child(2) > pre {
    position: relative;
    text-align: center;
    display: inline-block;
    top: 70px;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    color: #0057FF;
    left: -39px;
}

/*add style Mobile Development h3*/
body > main > section:nth-child(3) > article:nth-child(4) > div:nth-child(3) > h3 {
    position: relative;
    text-align: center;
    font-size: 20px;
    color: #930A09;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Nunito', sans-serif;
}

/*add image into Mobile Development*/
body > main > section:nth-child(3) > article:nth-child(4) > div:nth-child(3) > img {
    height: 228px;
    width: 228px;
    display: block;
    margin: 0 auto;
    border-radius: 40px;
    position: relative;
    top: 20px;
}

/*description styles Mobile Development*/
body > main > section:nth-child(3) > article:nth-child(4) > div:nth-child(3) > pre {
    position: relative;
    text-align: center;
    display: inline-block;
    top: 70px;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    color: #930A09;
    left: -39px;
}

/*add style Web Development h3*/
body > main > section:nth-child(3) > article:nth-child(4) > div:nth-child(4) > h3 {
    position: relative;
    text-align: center;
    font-size: 20px;
    color: #8E44AD;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Nunito', sans-serif;
}

/*add image into Web Development*/
body > main > section:nth-child(3) > article:nth-child(4) > div:nth-child(4) > img {
    height: 228px;
    width: 228px;
    display: block;
    margin: 0 auto;
    border-radius: 40px;
    position: relative;
    top: 20px;
}

/*description styles Web Development*/
body > main > section:nth-child(3) > article:nth-child(4) > div:nth-child(4) > pre {
    position: relative;
    text-align: center;
    display: inline-block;
    top: 70px;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    color: #8E44AD;
    left: -39px;
}

/*Main Section Skill*/
/*add background color*/
body > main > section:nth-child(4) {
    background: #fff;
}

/*add headline gif*/
body > main > section:nth-child(4) > img {
    width: 50px;
    height: auto;
    position: relative;
    left: 554px;
    top: 13px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 32px;
}

/*!*add Headline Skill*!*/
body > main > section:nth-child(4) > div:nth-child(2) {
    position: absolute;
    font-size: 20px;
    display: inline-block;
    text-align: center;

    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*!*add font to Skill*!*/
body > main > section:nth-child(4) > div:nth-child(2) > h2 {
    font-family: 'Poppins', sans-serif;
}

/*remove dfn italic style in Skill*/
body > main > section:nth-child(4) > div:nth-child(2) > h2 > dfn {
    font-style: normal;
}

/*introduction under Headline*/
body > main > section:nth-child(4) > div:nth-child(3) {
    position: absolute;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    top: 34px;
    left: 10px;
    right: 0;
    margin: auto;
}

/*add colors to Skill */
#span9 {
    color: #000000;
}

#span10 {
    color: #8E44AD;
}

/*languages p tag*/
body > main > section:nth-child(4) > section:nth-child(4) > p:nth-child(1) {
    color: #4834D4;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

/*add grid box for languages*/
body > main > section:nth-child(4) > section:nth-child(4) {
    /*border: 1px solid blue;*/
    top: 35px;
    position: relative;
    display: grid;
    height: 320px;

    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
}

/*add little div box for languages*/
body > main > section:nth-child(4) > section:nth-child(4) > div {
    position: relative;
    /*border: 1px solid green;*/
    width: 120px;
    height: 120px;
    top: 40px;
    left: 10px;
}

/*add languages names */
body > main > section:nth-child(4) > section:nth-child(4) > div > p {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    position: absolute;
    bottom: 0;
    left: -10px;
    right: 0;
    margin: auto;
    text-align: center;

}

/*add languages image*/
body > main > section:nth-child(4) > section:nth-child(4) > div > img {
    width: 70px;
    height: auto;
    position: relative;
    left: 20px;
    /*top: 50px;*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;

}

/*tools p tag*/
body > main > section:nth-child(4) > section:nth-child(5) > p:nth-child(1) {
    color: #4834D4;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    position: absolute;

    top: 0px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

/*add grid box for Tools*/
body > main > section:nth-child(4) > section:nth-child(5) {
    /*border: 1px solid darkorange;*/
    top: 50px;
    position: relative;
    display: grid;
    height: 350px;

    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(7, 1fr);
}

/*add little div box for tools*/
body > main > section:nth-child(4) > section:nth-child(5) > div {
    /*border: 1px solid green;*/
    width: 110px;
    height: 110px;
    top: 40px;
    position: relative;
    left: 10px;
}

/*!*add languages names *!*/
body > main > section:nth-child(4) > section:nth-child(5) > div > p {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    position: absolute;
    bottom: 0;
    left: -10px;
    right: 0;
    margin: auto;
    text-align: center;
}

/*add languages image*/
body > main > section:nth-child(4) > section:nth-child(5) > div > img {
    width: 70px;
    height: auto;
    position: relative;
    left: 20px;
    /*top: 50px;*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
}

/*change Intellij name position because its name to wide*/
body > main > section:nth-child(4) > section:nth-child(5) > div:nth-child(2) > p {
    left: 0px;
}

/*change scene builder name position because its name to wide*/
body > main > section:nth-child(4) > section:nth-child(5) > div:nth-child(7) > p {
    left: 0px;
}

/*Main Section Project*/
/*add background color*/
body > main > section:nth-child(5) {
    background: #E4EDFB;
}

/*add headline gif*/
body > main > section:nth-child(5) > img:nth-child(1) {
    width: 50px;
    height: auto;
    position: relative;
    left: 554px;
    top: 13px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 32px;
}

/*!*add Headline Project*!*/
body > main > section:nth-child(5) > div:nth-child(2) {
    position: absolute;
    font-size: 20px;
    display: inline-block;
    text-align: center;

    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*!*add font to Project*!*/
body > main > section:nth-child(5) > div:nth-child(2) > h2 {
    font-family: 'Poppins', sans-serif;
}

/*remove dfn italic style in Project*/
body > main > section:nth-child(5) > div:nth-child(2) > h2 > dfn {
    font-style: normal;
}

/*introduction under Headline*/
body > main > section:nth-child(5) > div:nth-child(3) {
    position: absolute;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    top: 34px;
    left: 10px;
    right: 0;
    margin: auto;
}

/*add colors to Project */
#span11 {
    color: #000000;
}

#span12 {
    color: #8E44AD;
}

/*add flex box into my project*/
body > main > section:nth-child(5) > section:nth-child(4) {
    /*border: 1px solid green;*/
    display: flex;
    position: relative;
    top: 20px;
    /*height: 680px;*/
    width: 98.9vw;
}

/*div projects boxes*/
body > main > section:nth-child(5) > section:nth-child(4) > div {
    /*border: 1px solid orange;*/
    width: 100%;
    height: 650px;
}

/*add all projects names p tags styles*/
body > main > section:nth-child(5) > section:nth-child(4) > div > p:nth-child(1) {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    position: relative;
    left: 60px;
    width: 350px;
    text-align: center;
    top: 90px;
}

/*Hostel-Management-System project image*/
body > main > section:nth-child(5) > section:nth-child(4) > div:nth-child(1) > img:nth-child(2) {
    width: 320px;
    height: 220px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: relative;
    left: 74px;
    top: 120px;
}

/*add button style Hostel-Management-System */
body > main > section:nth-child(5) > section:nth-child(4) > div:nth-child(1) > button:nth-child(3) {
    background: #3742FA;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    position: absolute;
    bottom: 160px;
    width: 81px;
    height: 32px;
    font-size: 19px;
    color: white;
    left: 173px;
    font-family: 'Nunito', sans-serif;
}

/*Pet & Product Manage System project image*/
body > main > section:nth-child(5) > section:nth-child(4) > div:nth-child(2) > img:nth-child(2) {
    width: 320px;
    height: 220px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: relative;
    left: 74px;
    top: 120px;
}

/*add button style Pet & Product Manage System project */
body > main > section:nth-child(5) > section:nth-child(4) > div:nth-child(2) > button:nth-child(3) {
    background: #3742FA;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    position: absolute;
    width: 81px;
    height: 32px;
    font-size: 19px;
    color: white;
    bottom: 160px;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Nunito', sans-serif;
}

/*Super Market Manage System project image*/
body > main > section:nth-child(5) > section:nth-child(4) > div:nth-child(3) > img:nth-child(2) {
    width: 292px;
    height: 220px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: relative;
    left: 84px;
    top: 120px;
}

/*add button style Super Market Manage System project */
body > main > section:nth-child(5) > section:nth-child(4) > div:nth-child(3) > button:nth-child(3) {
    background: #3742FA;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    position: absolute;
    width: 81px;
    height: 32px;
    font-size: 19px;
    color: white;
    bottom: 160px;
    /*left: 0;*/
    right: 200px;
    /*margin: auto;*/
    font-family: 'Nunito', sans-serif;
}

/*view all button*/
body > main > section:nth-child(5) > button:last-child {
    background: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;

    width: 110px;
    height: 40px;


    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    margin: auto;
}

/*remove underline*/
body > main > section:nth-child(5) > button:nth-child(5) > a {
    text-decoration: none;
}

/*add styles view all text*/
body > main > section:nth-child(5) > button:nth-child(5) > a, u {
    position: absolute;
    left: 18px;
    top: 9px;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    color: black;
    font-size: 18px;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*Main Section Journey*/
/*add background color*/
body > main > section:nth-child(6) {
    background: #fff;
}

/*add more height in my journey section*/
body > main > section:nth-child(6) {
    height: 1000px;
}

/*add headline gif*/
body > main > section:nth-child(6) > img:nth-child(1) {
    width: 50px;
    height: auto;
    position: relative;
    left: 565px;
    top: 13px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 32px;
}

/*!*add Headline Journey*!*/
body > main > section:nth-child(6) > div:nth-child(2) {
    position: absolute;
    font-size: 20px;
    display: inline-block;
    text-align: center;

    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*!*add font to Journey*!*/
body > main > section:nth-child(6) > div:nth-child(2) > h2 {
    font-family: 'Poppins', sans-serif;
}

/*remove dfn italic style in Journey*/
body > main > section:nth-child(6) > div:nth-child(2) > h2 > dfn {
    font-style: normal;
}

/*introduction under Headline*/
body > main > section:nth-child(6) > div:nth-child(3) {
    position: absolute;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    top: 34px;
    left: 10px;
    right: 0;
    margin: auto;
}

/*add colors to Project */
#span13 {
    color: #000000;
}

#span14 {
    color: #8E44AD;
}

/*add ijse image*/
body > main > section:nth-child(6) > section:nth-child(4) > img:nth-child(1) {
    position: absolute;
    left: 0;
    top: 120px;
    right: 0;
    margin: auto;

    height: 100px;
    width: 100px;
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 100px;
}

/*add ijse headline*/
body > main > section:nth-child(6) > section:nth-child(4) > p:nth-child(2) {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    width: 180px;
    text-align: center;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    left: 290px;
    top: 120px;
    right: 0;
    margin: auto;
}

/*add ijse description*/
body > main > section:nth-child(6) > section:nth-child(4) > pre:nth-child(3) {
    position: absolute;
    left: 731px;
    top: 150px;
    right: 0;
    margin: auto;
    font-family: 'Nunito', sans-serif;
}

/*add greatlake image*/
body > main > section:nth-child(6) > section:nth-child(5) > img:nth-child(1) {
    position: absolute;
    left: 0;
    top: 370px;
    right: 0;
    margin: auto;

    height: 100px;
    width: 100px;
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 100px;
}

/*add greatlake headline*/
body > main > section:nth-child(6) > section:nth-child(5) > p:nth-child(2) {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    width: 210px;
    text-align: center;
    position: absolute;
    left: -577px;
    top: 391px;
    right: 0;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

/*add greatlake description*/
body > main > section:nth-child(6) > section:nth-child(5) > pre:nth-child(3) {
    position: absolute;
    left: 275px;
    top: 421px;
    right: 0;
    margin: auto;
    font-family: 'Nunito', sans-serif;
}

/*add cisco ccnp image*/
body > main > section:nth-child(6) > section:nth-child(6) > img:nth-child(1) {
    position: absolute;
    left: 0;
    top: 620px;
    right: 0;
    margin: auto;

    height: 100px;
    width: 100px;
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 100px;
}

/*add cisco ccnp headline*/
body > main > section:nth-child(6) > section:nth-child(6) > p:nth-child(2) {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    width: 310px;
    text-align: center;
    position: absolute;
    left: 457px;
    top: 631px;
    right: 0;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

/*add cisco ccnp  description*/
body > main > section:nth-child(6) > section:nth-child(6) > pre:nth-child(3) {
    position: absolute;
    left: 737px;
    top: 661px;
    right: 0;
    margin: auto;
    font-family: 'Nunito', sans-serif;
}

/*add school image*/
body > main > section:nth-child(6) > section:nth-child(7) > img:nth-child(1) {
    position: absolute;
    left: 0;
    top: 870px;
    right: 0;
    margin: auto;

    height: 100px;
    width: 100px;
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 100px;
}

/*add school headline*/
body > main > section:nth-child(6) > section:nth-child(7) > p:nth-child(2) {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    width: 290px;
    text-align: center;
    position: absolute;
    left: -497px;
    top: 881px;
    right: 0;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

/*add school description*/
body > main > section:nth-child(6) > section:nth-child(7) > pre:nth-child(3) {
    position: absolute;
    left: 273px;
    top: 911px;
    right: 0;
    margin: auto;
    font-family: 'Nunito', sans-serif;
}

/*ijse to gratelake hr*/
body > main > section:nth-child(6) > hr:nth-child(8) {
    width: 145px;
    position: relative;
    transform: rotate(90deg);
    top: 234px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*greatlake to cisco ccnp hr*/
body > main > section:nth-child(6) > hr:nth-child(9) {
    width: 145px;
    position: relative;
    transform: rotate(90deg);
    top: 474px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body > main > section:nth-child(6) > hr:nth-child(10) {
    width: 145px;
    position: relative;
    transform: rotate(90deg);
    top: 714px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

/*Main Section Contact*/
/*add background color*/
body > main > section:nth-child(7) {
    background: #E4EDFB;
}

/*add headline gif*/
body > main > section:nth-child(7) > img:nth-child(1) {
    width: 50px;
    height: auto;
    position: relative;
    left: 565px;
    top: 13px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 32px;
}

/*!*add Headline Contact*!*/
body > main > section:nth-child(7) > div:nth-child(2) {
    position: absolute;
    font-size: 20px;
    display: inline-block;
    text-align: center;

    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*!*add font to Contact*!*/
body > main > section:nth-child(7) > div:nth-child(2) > h2 {
    font-family: 'Poppins', sans-serif;
}

/*remove dfn italic style in Contact*/
body > main > section:nth-child(7) > div:nth-child(2) > h2 > dfn {
    font-style: normal;
}

/*introduction under Headline*/
body > main > section:nth-child(7) > div:nth-child(3) {
    position: absolute;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    top: 34px;
    left: 10px;
    right: 0;
    margin: auto;
}

/*add colors to Project */
#span15 {
    color: #000000;
}

#span16 {
    color: #8E44AD;
}

/*add contact section gif*/
body > main > section:nth-child(7) > aside:nth-child(4) > img {
    position: relative;
    left: 20px;
    top: 100px;
    height: auto;
    width: 500px;;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 281px;
}

/*add form section*/
body > main > section:nth-child(7) > form:nth-child(5) {
    position: absolute;
    right: 100px;
    bottom: 150px;
}

/*add space in between form sections*/
body > main > section:nth-child(7) > form:nth-child(5) > div {
    position: relative;
    padding-bottom: 20px;

}

/*styles name, email, subject as a group selector*/
body > main > section:nth-child(7) > form:nth-child(5) > div:nth-child(1) > input, body > main > section:nth-child(7) > form:nth-child(5) > div:nth-child(2) > input, body > main > section:nth-child(7) > form:nth-child(5) > div:nth-child(3) > input {
    width: 410px;
    height: 30px;
    background: #D6EFED;
    border: 1px solid #000000;
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
    color: black;
}

/*add styles message area*/
body > main > section:nth-child(7) > form:nth-child(5) > div:nth-child(4) > textarea {
    background: #D6EFED;
    border: 1px solid #000000;
    border-radius: 10px;
    height: 200px;
}

body > main > section:nth-child(7) > form:nth-child(5) > button:nth-child(5) {
    background: #3742FA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid #FFFFFF;
    border-radius: 50px;

    width: 125px;
    height: 48px;

    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    color: #FFFFFF;

    position: relative;
    left: 140px;

    cursor: pointer;
}

/*position send text*/
.send {
    position: relative;
    left: -3px;
    top: -2px;
}

body > main > section:nth-child(7) > form:nth-child(5) > button:nth-child(5) > img {
    height: auto;
    width: 30px;
    position: relative;
    left: 0px;
    top: 4px;
}


/*footer Links*/
/*add background color*/
body > footer {
    background: #231955;
    width: 100%;
    height: 450px;
    position: relative;
}

/*add headline gif*/
body > footer > img:nth-child(1) {
    width: 50px;
    height: auto;
    position: relative;
    left: 565px;
    top: -92px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 32px;
}

/*!*add Headline Links*!*/
body > footer > div:nth-child(2) {
    position: absolute;
    font-size: 20px;
    display: inline-block;
    text-align: center;

    top: -110px;
    left: 0;
    right: 0;
    margin: auto;
}

/*!*add font to  Links*!*/
body > footer > div:nth-child(2) > h2 {
    font-family: 'Poppins', sans-serif;
}

/*remove dfn italic style in Links*/
body > footer > div:nth-child(2) > h2 > dfn {
    font-style: normal;
}

/*introduction under Headline*/
body > footer > div:nth-child(3) {
    position: absolute;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    top: -77px;
    left: 10px;
    right: 0;
    margin: auto;
}

/*add colors to Links */
#span17 {
    color: #000000;
}

#span18 {
    color: #8E44AD;
}

/*add flex into footer section*/
footer > section {
    display: flex;
    border: 1px solid red;
    position: relative;
    width: 98.9vw;
    top: -60px;

}

/*add all divs under footer section*/
footer > section > div {
    border: 1px solid orange;
    width: 100%;
    height: 350px;
}

/*add styles kasun portfolio text*/
footer > section:nth-child(4) > div:nth-child(1) > p:nth-child(1) {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Nunito', sans-serif;
    color: #FFFFFF;
    font-size: 24px;
    position: relative;
    left: 30px;
}

/*description under kasun's portfolio*/
footer > section:nth-child(4) > div:nth-child(1) > p:nth-child(2) {
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    position: relative;
    left: 30px;
    top: 30px;
}

/*add styles Quick Links text*/
footer > section:nth-child(4) > div:nth-child(2) > nav > p:nth-child(1) {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Nunito', sans-serif;
    color: #FFFFFF;
    font-size: 24px;
    position: relative;
    /*left: 80px;*/
    text-align: center;
}

/*add styles article section*/
footer > section:nth-child(4) > div:nth-child(2) > nav > article:nth-child(2) {
    position: relative;
    font-family: 'Nunito', sans-serif;
}

/*remove underline and default style in navigation*/
footer > section:nth-child(4) > div:nth-child(2) > nav > article:nth-child(2) > a, u {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    width: 100px;
    position: relative;
    left: 170px;
    margin: 20px;
}

/*add point image in front of navigations*/
footer > section:nth-child(4) > div:nth-child(2) > nav > article:nth-child(2) > a > img {
    width: 20px;
    height: auto;
    position: absolute;
    left: -26px;
    top: 0px;
}

/*add over to change color in navigation links*/
footer > section:nth-child(4) > div:nth-child(2) > nav > article:nth-child(2) > a:hover{
    color: #F29393;
}

/*add styles Contact Info text*/
footer > section:nth-child(4) > div:nth-child(3) > p:nth-child(1){
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Nunito', sans-serif;
    color: #FFFFFF;
    font-size: 24px;
    position: relative;
    left: 60px;
    display: inline-block;
}
/*add styles into gmail image*/
footer > section:nth-child(4) > div:nth-child(3) > address:nth-child(2)>img:nth-child(1){
    position: relative;
    height: 40px;
    width: 40px;
    left: 60px;
}

/*add my email styles*/
footer > section:nth-child(4) > div:nth-child(3) > address:nth-child(2) >p:nth-child(2){
    position: relative;
    left: 75px;
    display: inline-block;
    color: #CFCFCF;
    bottom: 15px;
    /*font-style: normal;*/
}

