body{

}
/*HEADER SECTION*/
/*Setup home image sizes*/
body>header>div{
    position: relative;
    background-color:orange;
    width: 1420px;
    height: 50px;

}
body>header>nav>img{
    position: relative;
    width: 46px;
    height: 46px;
    top: 7px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*add header headlines and styles*/
body>header>nav>article{
    font-family: "Nunito", sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    font-size: 24px;
    position: relative;
    left: 790px;
    bottom: 39px;
}

body>header>nav>article>a,u{
    text-decoration: none;
}

/*add some paddings for headlines*/
body>header>nav>article>a{
    padding-right: 10px;
    color: black;
}

/*MAIN SECTION*/
/*Profile*/
/*Create a div and add style*/
body>main>section>div{
    position: relative;
    background-color:#F7F7F7;
    width: 1420px;
    height: 716px;
    bottom: 51px;
}

/*Add width & height social media images*/
body>main>section>div>nav>img{
    padding-left: 10px;
    width: 70px;
    height: 70px;
}

/*Added profile section gif*/
body>main>section>div>img{
    width: 593px;
    height: 623px;
    position: relative;
    left: 800px;
    bottom: 307px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 215px;
}

/*h1 hi there im kasun weerasinghe*/
body>main>section>div>h1:nth-child(1){
    font-family: "Poppins" ,sans-serif;
    position: relative;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: 153px;
    left: 10px;
    font-size: 55px;
}

/*h1 i am front end developer*/
body>main>section>div>h1:nth-child(2){
    font-family: "Nunito",sans-serif;
    position: relative;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: 160px;
    left: 10px;
    font-size: 55px;
}

/*social images*/
body>main>section>div>nav{
    position: relative;
    top: 221px;
    left: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

/*add 2 colors using span to h1 tags*/
}#span1{
    color: #002057;
 }

 #span2{
     color: #FE7B01;
 }

#span3{
    color: #930A09;
}




