/*
created by kasunrachintha on 11/16/22
@author : kasunrachintha
@Date :  11/16/22
@Time: 9:21 am
@Project : My-Portfolio 
*/

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

/*Background Image*/
body{
    background: url("../img/bg1.jpg");
    /*background: url("../img/bg2.jpg");*/
    background-size: cover;
    background-position: center;
}

/*Styles for ul*/
#colors {
    position: relative;
    left: 460px;
    float: left;
    overflow: hidden;
    width: 550px;
}

/*add colors for li*/
#colors li {
    background-color: #cc1212;
    color: black;
    cursor: auto;
    font-size: 30px;
    line-height: 100px;
    list-style-position: inside;
    list-style-type: none;
    height: 200px;
    float: left;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}

/*add different colors for 4 boxes*/
#colors li.green {
    background-color: purple;
}

#colors li.blue {
    background-color: #0d0dba;
}

#colors li.yellow {
    background-color: #b0b010;
}

#colors li.on {
    background-color: black;
}

/*Styles for game start text*/
p#start {
    position: relative;
    left: 560px;
    font-size: 25px;
    font-family: 'Rubik Bubbles', cursive;
    width: 320px;
    cursor: pointer;
    color: #ffffff;
    text-align: center;
}

/*add hover for game start text*/
p#start:hover {
    text-decoration: underline;
    color: #a86ddb;
}

/*styles for level*/
#level{
    width: 320px;
    font-size: 20px;
    font-family: 'Syne Mono', monospace;
    position: relative;
    left: 560px;
    bottom: 12px;
    color: #d4128d;
    text-align: center;
}

.playing #colors li {
    cursor: pointer;
}

.game-over #colors li {
    opacity: 0.6;
}

/*score headline text*/
#scoreHeadline{
    position: relative;
    top: 470px;
    left: 90px;
    font-size: 25px;
    font-family: 'Rubik Bubbles', cursive;
    color: #00FFFF;
    width: 100px;
    text-align: center;
    display: flex;
}

/*score*/
#score{
    position: relative;
    top: 450px;
    left: 118px;
    font-size: 30px;
    font-family: 'Press Start 2p', sans-serif;
    color: red;
    width: 50px;
    text-align: center;
    display: flex;
}