/*
created by kasunrachintha on 11/22/22
@author : kasunrachintha
@Date :  11/22/22
@Time: 11:36 am
@Project : My-Portfolio 
*/

/*import fonts*/
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

/*container styles*/
#container{
    text-align: center;
}

/*canvas styles*/
#canvas{
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

}

#score_span{
    position: absolute;
    left: 520px;
    top: 110px;
    font-family: 'Press Start 2p', sans-serif;
    color: green;

}

#level_span{
    position: absolute;
    left: 790px;
    top: 110px;
    font-family: 'Press Start 2p', sans-serif;
    color: blue;
}
